PassengerEnabled on
PassengerAppEnv production
PassengerFriendlyErrorPages on
PassengerPython /usr/bin/python3
PassengerStartupFile passenger_wsgi.py
PassengerAppType wsgi

SetEnv HCAPTCHA_SECRET ${HCAPTCHA_SECRET}
PassengerEnvVar SUBSCRIBE_DIR /home/<USERNAME>/private/email-list

Options -Indexes -MultiViews