.article-backTo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  cursor: pointer;
  gap: 8px;
}
.article-backTo-text {
  color: var(--Text-Grey, #525252);
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.art-card {
  font-family: "Noto Sans";
  display: flex;
  padding: 24px 60px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.art-title {
  color: var(--Blue-700, #0E426C);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.authors-box {
  display: flex;
  width: 872px;
  padding: 12px 24px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--bg-dark-blue, #065D9E);
}
.date-and-duration,
.authors {
  color: var(--Text-white, #FFF);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
}
.responder-box {
  display: flex;
  width: 872px;
  padding: 24px;
  align-items: center;
  gap: 40px;
  border-radius: 8px;
  border: 2px solid var(--Blue-400, #7FC9FA);
}
.resp-left {
  display: flex;
  width: 280px;
  height: 240px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.resp-image {
  width: 120px;
  height: 120px;
  margin-bottom: 16px;
}
.resp-square-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: 0px 20%;
  margin-bottom: 16px;
  border-radius: 8px;
  border-radius: 60px;
}
.resp-name {
  color: var(--Text-primary, #333);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.resp-role {
  color: var(--Text-Grey, #525252);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.resp-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}
.resp-label {
  color: var(--Text-blue, #0E426C);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.resp-bio {
  color: var(--Text-primary, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}
.art-detail {
  display: flex;
  width: 872px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 8px;
  background: var(--Neutral-White, #FFF);
}
.resp-question {
  color: var(--Blue-700, #0E426C);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
.resp-answer {
  color: var(--Text-primary, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
  white-space: pre-line;
}
.article-inner-img {
  width: 872px;
  max-width: 100%;
  height: 580px;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px 0;
}
.iframe-video {
  width: 660px;
  height: 320px;
  border-radius: 8px;
  margin-left: 85px;
}

.backTo-btn-box {
  font-family: "Noto Sans";
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.art-btm-btn {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-radius: 40px;
  border: 2px solid var(--Neutral-Grey-500, #DADADA);
  background: none;
  align-items: center;
}
.art-btm-btn a {
  text-decoration: none;
  color: var(--Text-Grey, #525252);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; 
 }


/* For Mobile */
@media (max-width: 425px) {
  .article-backTo {
  margin-top: 18px;
  margin-bottom: 5px;
  }
  .art-card {
  padding: 20px;
  gap: 10px;
  }
  .art-title {
    font-size: 28px;
  }
  .authors-box {
    width: 380px;
    padding: 8px 12px;
    gap: 4px;
    text-align: center;
  }
  .date-and-duration,
  .authors {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    white-space: pre-line;
  }
  .responder-box {
    display: flex;
    flex-direction: column;
    width: 380px;
    padding: 8px;
    gap: 0px;
  }
  .resp-left {
    width: 265px;
  }
  .resp-image,
  .resp-square-image {
    margin-top: -30px;
    margin-bottom: 8px;
  }
  .resp-name {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .resp-role {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .resp-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-top: -25px;
  }
  .resp-label {
    font-size: 14px;
  }
  .resp-bio {
    font-size: 14px;
    line-height: 22px; 
    text-align: center;
  }
  .art-detail {
    width: 380px;
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
  }
  .resp-question {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .resp-answer {
    font-size: 14px;
    line-height: 24px; 
  }
  .article-inner-img {
    width: 380px;
    max-width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 8px;
    margin: 8px 0;
  }
  .iframe-video {
  width: 300px;
  height: 180px;
  border-radius: 8px;
  margin-left: 30px;
  }
  .backTo-btn-box {
  margin-bottom: 30px;
  }
  .art-btm-btn a {
    font-size: 14px;
    line-height: 24px; 
  }
}

@media (max-width: 375px) {
  .art-card {
  padding: 16px;
  gap: 5px;
  }
  .art-title {
    font-size: 24px;
    line-height: 20px;
  }
  .authors-box {
    width: 330px;
    padding: 8px 12px;
  }
  .responder-box {
    width: 330px;
    padding: 8px;
    gap: 0px;
  }
  .art-detail {
    width: 330px;
    padding: 8px;
  }
  .iframe-video {
    width: 300px;
    height: 180px;
    margin-left: 5px;
  }
}

@media (max-width: 320px) {
  .article-backTo {
  margin-top: 18px;
  margin-bottom: 5px;
  }
  .art-card {
  padding: 20px;
  gap: 10px;
  }
  .art-title {
    font-size: 20px;
  }
  .authors-box {
    width: 300px;
    padding: 8px 12px;
    gap: 4px;
    text-align: center;
  }
  .date-and-duration,
  .authors {
    font-size: 14px;
    line-height: 20px;
  }
  .responder-box {
    width: 300px;
    padding: 8px;
    gap: 0px;
  }
  .resp-name {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .art-detail {
    width: 300px;
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
  }
  .resp-question {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .resp-answer {
    font-size: 14px;
    line-height: 24px; 
  }
  .article-inner-img {
    width: 280px;
    max-width: 100%;
    height: 170px;
    margin: 8px 0;
  }
  .iframe-video {
  width: 280px;
  height: 160px;
  margin-left: 2px;
  }
  .backTo-btn-box {
  margin-bottom: 20px;
  }
  .art-btm-btn a {
    font-size: 12px;
    line-height: 24px; 
  }
}
