.cmmcCase-backTo {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  padding: 60px;
}
.cmmcCase-backTo-text {
  color: var(--Text-primary, #333);
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.cmmcCase-banner {
  font-family: "Noto Sans";
  width: 100%;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #494484;
}
.cmmcCase-left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.cmmcCase-sub {
  color: var(--Text-white, #FFF);
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.cmmcCase-title {
  color: var(--Text-white, #FFF);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cmmc-logo {
  width: 170px;
}
.cmmc-mockUp {
  width: 490px;
  height: auto;
  flex-shrink: 0;
}
.cmmc-top-three {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  gap: 40px;
  margin: 60px auto;
}
.cmmc-work-label {
  color: var(--Text-primary, #333);
  font-family: "Noto Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.cmmc-work-sub {
  color: var(--Text-primary, #333);
  text-align: center;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
}
.cmmc-work-three {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.cmmc-work-part {
  width: 100%;
  max-width: 360px;
  height: 280px;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0 1px 20px 3px rgba(0, 0, 0, 0.09);
}
.cmmc-top-three-icons svg {
  width: 40px;
}
.cmmc-work-text {
  color: var(--Text-primary, #333);
  text-align: center;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
}

/* Main */
.cmmc-section-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-bottom: 60px;
}
.sec-detail {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cmmc-section-label{
  color: var(--Text-primary, #333);
  font-family: "Noto Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.cmmc-comp-wrap {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.cmmc-comp {
  width: 100%;
  max-width: 580px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.cmmc-comp-label {
  color: var(--Text-primary, #333);
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.cmmc-site-img {
  width: 100%;
  height: auto;
  aspect-ratio: 580 / 375; 
  object-fit: cover;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 3px 4px 14px 1px rgba(99, 99, 99, 0.09);
}
.cmmc-lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 5;
  overflow: auto;
  padding: 100px;
  display: block;
}
.cmmc-lightbox-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.cmmc-lightbox-img.zoomed {
  transform: scale(2);
  transform-origin: top center;
}
.cmmc-comp-tile {
  color: var(--Text-primary, #333);
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.cmmc-lst {
  color: var(--Text-primary, #333);
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

/* Bottom */
.cmmc-btm {
  width: 100%;
  max-width: 1200px;                 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 24px;
  padding: 60px 120px;

  border-radius: 4px;
  border: 3px solid #494484;
  background: var(--Neutral-White, #FFF);
  margin: 0 auto;
  margin-bottom: 60px;
}
.cmmc-btm-header {
  position: relative;
  display: inline-block; 
}
.cmmc-btm-circle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cmmc-btm-title {
  color: var(--Text-primary, #333);
  text-align: center;
  font-family: "Noto Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 1;
}
.cmmc-btm-texts {
  color: var(--Text-primary, #333);
  text-align: center;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: pre-line;
}
.cmmc-btm-btn {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--Orange-500, #FF9700);
  border: none;
}
.cmmc-btm-btn a {
  text-decoration: none;
  color: var(--Text-white, #FFF);
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}


/* Responsive design */
@media (min-width: 1025px) and (max-width: 1440px) {
  .cmmcCase-backTo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    padding: 60px 0;
  }
  .cmmc-comp-wrap {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

/* For Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .cmmcCase-backTo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    padding: 40px 0;
  }
  .cmmcCase-banner {
    width: 100%;
    padding: 40px 10px;
    margin: 0 auto;
    gap: 15px;
  }
  .cmmc-mockUp {
    width: 280px;
    height: auto;
    flex-shrink: 0;
  }
  .cmmc-top-three {
    gap: 20px;
    margin: 40px auto;
  }
  .cmmc-work-three {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }
  .cmmc-section-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 60px;
  }
  .cmmc-comp-wrap {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .cmmcCase-backTo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    padding: 30px 0;
  }
  .cmmcCase-banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
    margin: 0 auto;
    gap: 15px;
  }
  .cmmc-mockUp {
    width: 300px;
    height: auto;
    flex-shrink: 0;
  }
  .cmmcCase-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .cmmcCase-title {
    color: var(--Text-white, #FFF);
    text-align: center;
    font-size: 36px;
    line-height: 42px;
  }
  .cmmc-logo {
    width: 160px;
  }
  .cmmc-top-three {
    gap: 20px;
    margin: 40px auto;
  }
  .cmmc-work-three {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .cmmc-work-part {
    max-width: 450px;
    height: 190px;
    padding: 24px 20px;
  }
  .cmmc-section-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 40px;
  }
  .cmmc-comp-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sec-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .cmmc-section-label{
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
  }
  .cmmc-btm {
    padding: 50px 20px;
  }
  .cmmc-btm-title {
    font-size: 36px;
    line-height: 42px;
  }
}
@media (min-width: 431px) and (max-width: 480px) {
  .cmmcCase-backTo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    padding: 30px 0;
  }
  .cmmcCase-banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
    margin: 0 auto;
    gap: 15px;
  }
  .cmmc-mockUp {
    width: 300px;
    height: auto;
    flex-shrink: 0;
  }
  .cmmcCase-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .cmmcCase-title {
    color: var(--Text-white, #FFF);
    text-align: center;
    font-size: 36px;
    line-height: 42px;
  }
  .cmmc-logo {
    width: 150px;
  }

  .cmmc-top-three {
    gap: 20px;
    margin: 40px auto;
  }
  .cmmc-work-three {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .cmmc-work-part {
    max-width: 450px;
    height: 190px;
    padding: 24px 20px;
  }
  .cmmc-section-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 40px;
  }
  .cmmc-comp-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sec-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .cmmc-section-label{
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
  }
  .cmmc-btm {
    padding: 50px 20px;
  }
  .cmmc-btm-title {
    font-size: 36px;
    line-height: 42px;
  } 
  .cmmc-btm-circle svg {
    width: 280px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cmmc-btm-texts {
    font-size: 18px;
    line-height: 28px;
  }
  .cmmc-btm-btn {
    padding: 7px 15px;
  }
  .cmmc-btm-btn a {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (max-width: 430px) {
  .cmmcCase-backTo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    padding: 30px 0;
  }
  .cmmcCase-banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
    margin: 0 auto;
    gap: 15px;
  }
  .cmmc-mockUp {
    width: 300px;
    height: auto;
    flex-shrink: 0;
  }
  .cmmcCase-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .cmmcCase-title {
    color: var(--Text-white, #FFF);
    text-align: center;
    font-size: 36px;
    line-height: 42px;
  }
  .cmmc-logo {
    width: 140px;
  }

  .cmmc-top-three {
    gap: 20px;
    margin: 40px auto;
  }
  .cmmc-work-label {
    font-size: 28px;
    line-height: 38px;
  }
  .cmmc-work-three {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .cmmc-work-part {
    max-width: 450px;
    height: 190px;
    padding: 24px 20px;
  }

  .cmmc-section-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 40px;
  }
  .cmmc-section-label{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
  }
  .cmmc-comp-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sec-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .cmmc-btm {
    padding: 50px 20px;
  }
  .cmmc-btm-title {
    font-size: 30px;
    line-height: 30px;
  } 
  .cmmc-btm-circle svg {
    width: 280px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cmmc-btm-texts {
    font-size: 18px;
    line-height: 28px;
  }
  .cmmc-btm-btn {
    padding: 7px 15px;
  }
  .cmmc-btm-btn a {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (max-width: 390px) {
  .cmmcCase-backTo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    padding: 30px 0;
  }
  .cmmcCase-banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
    margin: 0 auto;
    gap: 15px;
  }
  .cmmc-mockUp {
    width: 300px;
    height: auto;
    flex-shrink: 0;
  }
  .cmmcCase-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .cmmcCase-title {
    color: var(--Text-white, #FFF);
    text-align: center;
    font-size: 30px;
    line-height: 40px;
  }
  .cmmc-logo {
    width: 120px;
  }

  .cmmc-top-three {
    gap: 20px;
    margin: 40px auto;
  }
  .cmmc-work-three {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .cmmc-work-part {
    max-width: 450px;
    height: 190px;
    padding: 24px 20px;
  }
  .cmmc-section-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 40px;
  }
  .cmmc-section-label{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
  }
  .cmmc-comp-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sec-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .cmmc-btm {
    padding: 50px 20px;
  }
  .cmmc-btm-title {
    font-size: 30px;
    line-height: 30px;
  } 
  .cmmc-btm-circle svg {
    width: 280px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cmmc-btm-texts {
    font-size: 18px;
    line-height: 28px;
  }
  .cmmc-btm-btn {
    padding: 7px 15px;
  }
  .cmmc-btm-btn a {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (max-width: 320px) {
  .cmmcCase-backTo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    padding: 30px 0;
  }
  .cmmcCase-banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
    margin: 0 auto;
    gap: 15px;
  }
  .cmmc-mockUp {
    width: 300px;
    height: auto;
    flex-shrink: 0;
  }
  .cmmcCase-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .cmmcCase-title {
    color: var(--Text-white, #FFF);
    text-align: center;
    font-size: 30px;
    line-height: 40px;
  }
  .cmmc-logo {
    width: 100px;
  }

  .cmmc-top-three {
    gap: 20px;
    margin: 40px auto;
  }
  .cmmc-work-three {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .cmmc-work-part {
    max-width: 450px;
    height: 190px;
    padding: 24px 20px;
  }
  .cmmc-section-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 40px;
  }
  .cmmc-section-label{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
  }
  .cmmc-comp-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sec-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .cmmc-btm {
    padding: 50px 20px;
  }
  .cmmc-btm-title {
    font-size: 30px;
    line-height: 30px;
  } 
  .cmmc-btm-circle svg {
    width: 280px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cmmc-btm-texts {
    font-size: 18px;
    line-height: 28px;
  }
  .cmmc-btm-btn {
    padding: 7px 15px;
  }
  .cmmc-btm-btn a {
    font-size: 16px;
    line-height: 28px;
  }
}
