
.focus-top-part {
  display: flex;
  padding: 60px 0px 30px 0px;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Sans";
  gap: 60px;
}
.focus-left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.focusTitle {
  color: var(--Blue-700, #0E426C);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 12px;
}
.focusSub {
  color: var(--Text-primary, #333);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
  margin-bottom: 24px;
}
.focus-apply-btn {
  display: flex;
  border-radius: 40px;
  border: none;
  background: var(--Orange-500, #FF9700);
  justify-content: center;
  align-items: center;
}
.focus-apply-btn a {
  text-decoration: none;
  padding: 12px;
  color: var(--Text-white, #FFF);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.focus-top-img {
  width: 648px;
  height: 390px;
}

/* Main Part */
.focus-content-container {
  font-family: "Noto Sans";
  display: flex;
  flex-direction: column; 
  align-items: center; 
}
.focus-main-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 40px;
  margin-bottom: 100px;
  gap: 100px;
}
.focus-section-label {
  display: flex;
  color: var(--Blue-700, #0E426C);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
  margin-bottom: 40px;
}
.focus-top-bk {
  width: 100vw;
  height: auto;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%); 
  z-index: -1;
}
.focus-top-three {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.focus-three-parts {
  display: flex;
  width: 400px;
  height: 398px;
  padding: 20px 12px;
  flex-direction: column;
  gap: 12px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.40);
  box-shadow: 0px 1px 20px 3px rgba(0, 0, 0, 0.09);
  z-index: 100;
  align-items: center;
}
.focus-top-three-icons svg {
  width: 40px;
  height: 40px;
}
.focus-three-titles {
  color: var(--Text-primary, #333);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%; 
}
.focus-three-text {
  color: var(--Text-primary, #333);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
  white-space: pre-line;
}
.focus-top-topics {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.focus-four-themes{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.focus-each-topic {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  padding: 32px 12px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.40);
  box-shadow: 0px 1px 20px 3px rgba(0, 0, 0, 0.09);
  align-items: center;
  gap: 20px;
}
.focus-topic-titles {
  color: var(--Text-primary, #333);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.focus-topic-des {
  color: var(--Text-primary, #333);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  white-space: pre-line;
}

.focus-mid-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 28px;
}
.focus-main {
  display: flex;
  width: 100%;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;
}
.focus-main-img {
  width: 610px;
  height: 350px;
  object-fit: cover;
  border-radius: 4px;
}
.focus-main-texts {
  align-items: center;
  justify-content: center;
}
.item-detal-row {
  width: 645px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  border-bottom: 1px solid var(--stroke-card-underline, #DADADA);
}
.focus-main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px;
}
.main-text-left {
  color: var(--Text-primary, #333);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.inner-blue-title {
  color: var(--Text-blue, #0E426C);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main-icon-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.section-des {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  border-left: 4px solid var(--Blue-500, #37ACF4);
  background: rgba(255, 255, 255, 0.40);
}
.des-texts {
  color: var(--Text-primary, #333);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; 
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}


/* Bottom Part */
.focus-bottom-part {
  font-family: "Noto Sans";
  display: flex;
  padding: 60px 60px 30px 0px;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.focus-btm-img {
  width: 648px;
  height: 390px;
}
.focus-right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.focus-btm-title {
  color: var(--Blue-700, #0E426C);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; 
  margin-bottom: 24px;
}
.focus-btm-text {
  color: var(--Text-primary, #333);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
  margin-bottom: 24px;
}


/* For Mobile L */
@media (max-width: 430px) {
  .focus-top-part {
    display: flex;
    flex-direction: column;
    padding: 35px 0px;
    align-items: center;
    gap: 24px;
  }
  .focus-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .focusTitle {
    font-size: 26px;
    line-height: 28px;
  }
  .focusSub {
    max-width: 380px;
    font-size: 16px;
    line-height: 24px; 
    text-align: center;
  }
  .focus-apply-btn a {
    padding: 7px 10px;
    font-size: 16px;
    line-height: 26px; 
  }
  .focus-top-img {
    width: 400px;
    height: auto;
    margin-left: 25px;
  }
  
  /* Main Part */
  .focus-main-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 0px;
    margin-bottom: 40px;
    gap: 50px;
  }
  .focus-section-label {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .overview-des {
    width: 360px;
    font-size: 16px;
    line-height: 26px;
  }
  .focus-top-bk {
    display: none;
  }
  .focus-top-three {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }
  .focus-three-parts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 375px;
    height: 330px;
    padding: 15px;
    gap: 10px;
  }
  .focus-three-titles {
    font-size: 20px;
    line-height: 26px;
  }
  .focus-three-text {
    font-size: 18px;
    line-height: 28px;
  }

  .focus-four-themes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }
  .focus-each-topic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 375px;
    height: 245px;
    padding: 15px;
    gap: 10px;
  }
  .focus-topic-titles {
    font-size: 20px;
    line-height: 25px;
  }
  .focus-topic-des {
    font-size: 18px;
    line-height: 30px;
  }
  
  /* Main Three Part */
  .focus-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
  }
  .focus-mid-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .focus-main-img {
    width: 375px;
    height: auto;
  }
  .item-detal-row {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .focus-main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 8px;
  }
  .main-text-left,
  .inner-blue-title  {
    font-size: 20px;
    line-height: 26px;
  }
  .des-texts {
    font-size: 18px;
    line-height: 28px; 
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .main-icon-right svg {
    width: 20px;
    height: 20px;
  }

  /* Bottom Part  */
  .focus-bottom-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
    margin-bottom: 40px;
  }
  .focus-btm-img {
    width: 400px;
    height: auto;
  }
  .focus-btm-title {
    font-size: 26px;
    line-height: 28px; 
    margin-bottom: 12px;
  }
  .focus-btm-text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }
}

/* For Mobile M */
@media (max-width: 390px) {
  .focusTitle {
    font-size: 23px;
    line-height: 28px;
  }
  .focusSub {
    font-size: 16px;
    line-height: 24px; 
    text-align: center;
  }
  .focus-top-img {
    width: 350px;
    height: auto;
  }

  .focus-section-label {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .focus-top-three-icons svg {
    width: 35px;
    height: 35px;
  }
  .focus-three-parts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 325px;
    height: 350px;
    padding: 15px;
    gap: 12px;
  }
  .focus-three-titles {
    font-size: 20px;
    line-height: 26px;
  }
  .focus-three-text {
    font-size: 16px;
    line-height: 26px;
  }
  .focus-top-bk {
    display: none;
  }
  .focus-each-topic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 325px;
    height: 200px;
    padding: 15px;
    gap: 10px;
  }
  .focus-topic-titles {
    font-size: 20px;
    line-height: 25px;
  }
  .focus-topic-des {
    font-size: 16px;
    line-height: 26px;
  }
  
  .focus-main-img {
    width: 325px;
  }
  .item-detal-row {
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .focus-main-title {
    padding: 20px;
    gap: 8px;
  }
  .main-text-left,
  .inner-blue-title  {
    font-size: 20px;
    line-height: 26px;
  }
  .des-texts {
    font-size: 16px;
    line-height: 28px; 
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  /* Bottom Part  */
  .focus-btm-img {
    width: 350px;
    height: auto;
  }
  .focus-btm-title {
    font-size: 23px;
    line-height: 28px; 
    margin-bottom: 12px;
  }
  .focus-btm-text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }

}

/* For Mobile */
@media (max-width: 320px) {
  .focusTitle {
    font-size: 20px;
    line-height: 26px;
  }
  .focusSub {
    font-size: 16px;
    line-height: 24px; 
  }
  .focus-top-img {
    width: 295px;
    height: auto;
    margin-left: 17px;
  }
  .focus-section-label {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  .focus-three-parts {
    width: 275px;
    height: 340px;
    padding: 10px;
    gap: 10px;
  }
  .focus-three-titles {
    font-size: 18px;
    line-height: 24px;
  }
  .focus-three-text {
    font-size: 16px;
    line-height: 26px;
  }
  .focus-each-topic {
    width: 275px;
    height: 230px;
    padding: 10px;
    gap: 10px;
  }
  .focus-topic-titles {
    font-size: 18px;
    line-height: 24px;
  }
  .focus-topic-des {
    font-size: 16px;
    line-height: 26px;
  }
  
  .focus-main-img {
    width: 275px;
  }
  .item-detal-row {
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .focus-main-title {
    padding: 10px;
    gap: 8px;
  }
  .main-text-left,
  .inner-blue-title  {
    font-size: 18px;
    line-height: 26px;
  }
  .des-texts {
    font-size: 16px;
    line-height: 26px; 
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  /* Bottom Part  */
  .focus-btm-img {
    width: 295px;
    height: auto;
  }
  .focus-btm-title {
    font-size: 20px;
    line-height: 26px; 
    margin-bottom: 12px;
  }
  .focus-btm-text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }
}