.footer {
  display: flex;
  flex-direction: column;
  background: var(--Blue-700, #0E426C);
  width: 100%;
  max-width: 1440px;
  justify-content: space-between; 
  height: auto;
  padding: 80px 160px 100px 160px;
  gap: 40px;
}
.footer-logo-box {
  display: flex;
  align-items: center;
}
.footer-logo {
  width: 63px;
  height: 59px;
  display: flex;
  padding: 4.576px 0px 0.442px 4.867px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}
.footer-logo-title {
  color: var(--Neutral-White, #FFF);
  font-family: "Baloo 2";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.texts-and-links {
  color: var(--Text-white, #FFF);
  font-family: "Noto Sans";
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
.footer-texts {
  display: flex;
  width: 680px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.footer-links {
  display: flex;
  width: 225px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.contact-info {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: -40px;
}
.mid-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
.link-title {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; 
  margin-right: auto;
  width: 100%;
}
.logos {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #FFF;
}
.icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mail-icon svg {
  width: 24px;
  height: 24px;
  margin-bottom: 2px;
}
.iflyyoung a {
  color: var(--Text-white, #FFF);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  margin-left: 4px;
}
.feedback-container {
  font-family: "Noto Sans";
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
  background: var(--bg-light-blue, #F0F8FF);
  padding: 20px;
  margin-top: 40px;
}
.feedback {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.fdbk-content {
  display: flex;
  flex-direction: column;
}
.fdbk-label {
  color: var(--Text-primary, #333);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.input-label {
  color: var(--Text-primary, #333);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}
.fdbk-input-box {
  display: flex;
  height: 80px;
  padding: 12px;
  border-radius: 4px;
  border: 1.5px solid var(--stroke-card-underline, #DADADA);
}
.word-cnt {
  color: var(--Text-Grey, #525252);
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.email-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.email-input-box {
  display: flex;
  height: 47px;
  padding: 12px;
  align-items: center;
  border-radius: 4px;
  border: 1.5px solid var(--stroke-card-underline, #DADADA);
}
.footer-sub-btn {
  display: flex;
  padding: 5px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid var(--Blue-600, #065D9E);
  background: var(--bg-light-blue, #F0F8FF);
}
.iframe-fdbkFrom {
  width:100%;
  height: 550px;
  border-radius: 4px;
}


/* Responsive design */
@media (min-width: 1025px) and (max-width: 1440px) {
  .footer {
    width: 100%;
    padding: 60px 100px 80px 100px;
  }
  .texts-and-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
  }
}

/* For Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    width: 100%;
    padding: 60px 50px;
  }
  .footer-texts {
    width: 520px;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-logo-title {
    font-size: 20px;
  }
  .link-title {
    font-size: 18px;
  }
  .texts-and-links {
    gap: 20px;
    font-size: 16px;
  }
}



@media (min-width: 431px) and (max-width: 480px) {
  .footer {
    width: 100%;
    padding: 60px 30px;
  }
  .footer-logo-box {
    justify-content: center;
  }
  .footer-logo {
    width: 58px;
    height: 54px;
  }
  .footer-logo-title {
    font-size: 20px;
  }
  .texts-and-links {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
    text-align: center;
  }
  .footer-texts {
    width: 350px;
    margin-bottom: 40px;
    align-items: center;
  }
  .footer-links {
    align-items: center;
    justify-content: center;
  }
  .link-title {   
    font-size: 16px;
    margin-right: 0;
  }
  .mail-icon svg {
    margin-bottom: 0px;
  }
  .mid-part {
    align-items: center; 
    text-align: center; 
  }
  .logos {
    justify-content: center;
    width: 100%;
  }
  .iflyyoung a {
    font-size: 16px;
    line-height: 24px;
  }
}

/* Mobile L */
@media (max-width: 430px) {
  .footer {
    width: 100%;
    padding: 60px 30px;
  }
  .footer-logo-box {
    justify-content: center;
  }
  .footer-logo {
    width: 58px;
    height: 54px;
  }
  .footer-logo-title {
    font-size: 20px;
  }
  .texts-and-links {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
    text-align: center;
  }
  .footer-texts {
    width: 350px;
    margin-bottom: 40px;
    align-items: center;
  }
  .footer-links {
    align-items: center;
    justify-content: center;
  }
  .link-title {   
    font-size: 16px;
    margin-right: 0;
  }
  .mail-icon svg {
    margin-bottom: 0px;
  }
  .mid-part {
    align-items: center; 
    text-align: center; 
  }
  .logos {
    justify-content: center;
    width: 100%;
  }
  .iflyyoung a {
    font-size: 16px;
    line-height: 24px;
  }
}

/* Mobile M */
@media (max-width: 390px) {
  .footer {
    width: 100%;
    padding: 40px 20px;
  }
  .footer-texts {
    width: 310px;
    margin-bottom: 40px;
  }
  .link-title {   
    font-size: 16px;
    margin-right: 0;
  }
}

/* Mobile S */
@media (max-width: 320px) {
  .footer {
    width: 100%;
  }
  .footer-texts {
    width: 250px;
    margin-bottom: 40px;
  }
}

