.footer {
  display: flex;
  flex-direction: column;
  background: var(--Blue-700, #0E426C);
  width: 100%;
  max-width: 1440px;
  justify-content: space-between; 
  height: auto;
  padding: 80px 160px 100px 160px;
  gap: 40px;
}
.footer-logo-box {
  display: flex;
  align-items: center;
}
.footer-logo {
  width: 63px;
  height: 59px;
  display: flex;
  padding: 4.576px 0px 0.442px 4.867px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}
.footer-logo-title {
  color: var(--Neutral-White, #FFF);
  font-family: "Baloo 2";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.texts-and-links {
  color: var(--Text-white, #FFF);
  font-family: "Noto Sans";
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
.footer-texts {
  display: flex;
  width: 680px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.footer-links {
  display: flex;
  width: 225px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.top-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.contact-info {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: -40px;
}
.mid-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
.link-title {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; 
  margin-right: auto;
  width: 100%;
}
.logos {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #FFF;
}
.icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mail-icon svg {
  width: 24px;
  height: 24px;
  margin-bottom: 2px;
}

@media (max-width: 1280px) { 
  .footer {
    width: 104%;
  }
  .footer-texts {
    width: 550px;
  }
}

@media (min-width: 1025px ) and (max-width: 1199px) {
  .footer {
    width: 124%;
  }
}
@media (max-width: 1024px) { 
  .footer {
    width: 124%;
  }
}

@media (min-width: 769px ) and (max-width: 991px) {
  .footer {
    width: 167%;
  }
}
@media (max-width: 768px) {
  .footer {
    width: 93%;
    padding: 80px 100px 100px 100px;
    margin-left: 25px;
  }
  .texts-and-links {
    display: flex;
    flex-direction: column;
  }
  .footer-texts {
    width: 450px;
    margin-bottom: 40px;
  }
}

/* Mobile L */
@media (max-width: 425px) {
  .footer {
    width: 87%;
    padding: 60px 30px 80px 30px;
    margin-left: 20px;
  }
  .footer-logo {
    width: 58px;
    height: 54px;
  }
  .footer-logo-title {
    font-size: 20px;
  }
  .texts-and-links {
    font-size: 14px;
  }
  .footer-texts {
    width: 290px;
    margin-bottom: 40px;
  }
  .link-title {   
    font-size: 16px;
    margin-right: 0;
  }
  .mail-icon svg {
    margin-bottom: 0px;
  }
}

/* Mobile M */
@media (max-width: 375px) {
  .footer {
    width: 84%;
    padding: 40px 20px 40px 20px;
  }
  .footer-texts {
    width: 240px;
    margin-bottom: 40px;
  }
  .link-title {   
    font-size: 16px;
    margin-right: 0;
  }
}

/* Mobile S */
@media (max-width: 320px) {
  .footer {
    width: 100%;
  }
}

