.header {
  width: 1320px;
  height: 80px;
  display: flex;
  padding: 10px 10px;
  border-bottom: 4px solid var(--Blue-400, #7FC9FA);
  align-items: center;
  align-self: stretch;
}

.logo-box {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.logo {
  height: 50px;
  width: auto;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;

}

.logo-title {
  color: var(--Blue-500, #37ACF4);
  font-family: "Baloo 2";
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
}

.navbar {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  gap: 80px;
}

.nav-text {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  color: var(--Text-primary, #333);
  text-align: center;
  font-family: "Noto Sans";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  gap: 60px;
  cursor: pointer;
}

.language-btn {
  background-color: transparent;
  color: var(--Text-primary, #333);
  text-align: center;
  font-family: "Noto Sans";
  font-size: 18px;
  font-weight: 400;
  border: none;
}



