.top-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 30px 0px 30px 0px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.banner {
  position: relative;
  justify-content: center;
  align-items: center;
}
.cloud {
  width: 100%; 
  max-width: 560px;
  height: auto; 
}
.cloud-title {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
  white-space: pre-line;
  color: var(--Blue-500, #37ACF4);
  text-align: center;
  font-family: "Baloo 2";
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}
.new-recording {
  font-family: "Noto Sans";
  width: 100%;
  max-width: 689px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.new-audio-title {
  color: #0E426C;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.new-audio-date {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; 
  color: var(--Text-primary, #333);
  margin-bottom: 10px;
}
.new-audio-question {
  display: -webkit-box;
  align-self: stretch;
  overflow: hidden;
  color: #333;
  text-overflow: ellipsis;
  font-family: "Noto Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.oh-play-now-btn {
  background: #FF9700;
  color: var(--Text-white, #FFF);
  font-family: "Noto Sans";
  font-size: 20px;
  font-weight: 700;
  display: flex;
  padding: 12px 12px 12px 20px;
  align-items: center;
  border: none;
  border-radius: 40px; 
}
.oh-play-icon svg path{
  fill: #FFF;
}

/* Main recording  */
.main-container {
  font-family: "Noto Sans";
  display: grid;
  width: 100%;
  max-width: 1320px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 15px;
}
.most-recent, 
.colleagues, 
.faith,
.boss, 
.self-dev, 
.focus  {
  display: flex;
  width: 100%;
  max-width: 427px;
  padding: 16px 24px 12px 24px;
  flex-direction: column;
  flex: 1;
}
.main-left,
.main-mid,
.main-right,
.main-boss,
.main-selfDev,
.main-focusGrp {
  margin-bottom: 12px;
}
.cate-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-title {
  display: flex;
  color: var(--Text-blue, #0E426C);
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}
.section-view-more a{
  color: var(--Text-Grey, #525252);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  text-align: right;
}
.most-recent {
  border-radius: 8px;
  background: var(--bg-light-blue, #F0F8FF);
}
.oh-each-recording {
  display: flex;
  height: 120px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #DADADA;
  gap: 12px;
}
.oh-date-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 76px;
  border-radius: 4px;
  background: var(--Neutral-White, #FFF);
  flex-shrink: 0;
}
.left-month-day {
  color: var(--Blue-700, #0E426C);
  font-family: "Baloo 2";
  font-size: 20px;
  font-weight: 600;
}
.left-year {
  color: var(--Blue-700, #0E426C);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.oh-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.oh-title {
  color: var(--Text-primary, #333);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
}
.oh-question {
  color: var(--Text-Grey, #525252);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden; 
  text-overflow: ellipsis;
}
.play-icon-round {
  display: flex;
  cursor: pointer;
  flex-shrink: 0;
}

.colleagues {
  border-radius: 8px;
  background: var(--PInk-300, #FFF3F8);
}
.mid-month-day {
  color: var(--PInk-500, #9F0C51);
  text-align: center;
  font-family: "Baloo 2";
  font-size: 20px;
  font-weight: 600;
}
.mid-year {
  color: var(--PInk-500, #9F0C51);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}


.faith {
  border-radius: 8px;
  background: var(--Purple-300, #F7F3FF);
}
.right-month-day {
  color: var(--Purple-500, #6406B7);;
  text-align: center;
  font-family: "Baloo 2";
  font-size: 20px;
  font-weight: 600;
}
.right-year {
  color: var(--Purple-500, #6406B7);;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.boss {
  border-radius: 8px;
  background: #fef5e9;
}
.boss-month-day {
  color: #8F4F07;
  text-align: center;
  font-family: "Baloo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.boss-year {
  color: #8F4F07;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.self-dev {
  border-radius: 8px;
  background:  #F2FCEB;
}
.selfDev-month-day {
  color: #29690A;
  text-align: center;
  font-family: "Baloo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.selfDev-year {
  color: #29690A;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.focus {
  border-radius: 8px;
  background:  #FEFAE4;
}
.focusGrp-month-day {
  color: #73620C;
  text-align: center;
  font-family: "Baloo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.focusGrp-year {
  color: #73620C;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}


/* Panelists */
.panelists-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-bottom: 60px;
}
.title-and-airplane {
  display: flex; 
  flex-direction: row;
  justify-content: space-between; 
  align-items: baseline; 
  width: 100%;
}
.blue-airplane{
  width: 218px;
  height: 118px;
  transform: rotate(-2.72deg);
  margin-right: 10px;
}
.panelists-title {
  color: var(--Blue-700, #0E426C);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
}
.speaker-container {
  display: grid;
  width: 100%;
  max-width: 1320px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
}
.speaker-card {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 418px;
  height: 160px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 4px solid var(--stroke-blue, #E1F0FD);
  padding: 20px;
  box-shadow: 3px 4px 14px 1px rgba(99, 99, 99, 0.09);
  transition: transform 0.2s;
  gap: 18px;
  margin-bottom: 20px;
}
.speaker-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.speaker {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.speaker-name,
.speaker-role {
  margin: 0; 
  line-height: 1.2;
}
.speaker-name {
  color: var(--Text-primary, #333);
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}
.speaker-role {
  color: var(--Text-Grey, #525252);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  word-wrap: break-word; 
  white-space: pre-wrap;
}


/* Office hour */
.hour-container {
  font-family: "Noto Sans";
  display: flex;
  width: 1440px;
  padding: 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 60px;
}
.office-airplane {
  display: flex; 
  justify-content: space-between; 
  align-items: baseline; 
  width: 100%;
}
.office-title {
  color: var(--Blue-700, #0E426C);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px; 
  margin-bottom: 20px;
}

.three-parts {
  font-family: "Inter";
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
  margin-bottom: 60px;
}
.left, 
.mid {
    width: 329px;
    height:277px;
}
.right {
    width: 534px;
}
.left-title {
  display: flex;
  width: 100%;
  height: 64px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--bg-dark-blue, #065D9E);
  color: var(--Text-white, #FFF);
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px 8px 0 0;
  margin: 0; 
}
.left-detail {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px 32px;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  background-color: var(--bg-light-blue, #F0F8FF);
  border-radius: 0 0 8px 8px;
}
.section-text {
  color: var(--Text-primary, #333);
  text-align: center;
  margin-top: 52px;
  margin-bottom: 52px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.office-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  display: flex;
  color: var(--Text-primary, #333);
  text-align: center;
  font-family: Inter;
  margin-bottom: 18px;
  text-wrap: nowrap;
}
.hour-content{
  color: var(--Text-primary, #333);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}

.mid-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 10px;
  gap: 10px;
  flex-shrink: 0;
  background: var(--bg-dark-blue, #065D9E);
  color: var(--Text-white, #FFF);
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px 8px 0 0;
  margin: 0; 
}
.mid-detail {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--bg-light-blue, #F0F8FF);
  border-radius:0 0 8px 8px;
}
.oh-mid-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.oh-mid-text {
  color: var(--Text-primary, #333);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  text-wrap: nowrap;
}
.join-btn {
  color: var(--Blue-600, #065D9E);
  font-size: 20px;
  font-weight: 700;
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  border: 2px solid var(--Blue-600, #065D9E);
  background: var(--Neutral-White, #FFF);
}
.join-btn a {
  color: var(--Blue-600, #065D9E);
  text-decoration: none;
  cursor: pointer;
}

.right-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  gap: 10px;
  flex-shrink: 0;
  background: var(--bg-dark-blue, #065D9E);
  color: var(--Text-white, #FFF);
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px 8px 0 0;
  margin: 0; 
}
.right-detail {
  width: 100%;
  height: 277px;
  display: flex;
  padding: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--bg-light-blue, #F0F8FF);
  border-radius:0 0 8px 8px;
}
.time-box {
  display: flex; 
  justify-content: space-between; 
  gap: 5px;
  padding: 18px;
}
.time-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: var(--Text-primary, #333);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; 
}
.time-type {
  color: var(--Text-primary, #333);
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.icon-and-date {
  display: flex;
  text-align: center;
}
.date-icon {
  align-items: center;
  margin-right: 4px;
}
.date-icon svg {
  width: 18px; 
  height: 18px; 
  fill: var(--Text-Grey, #525252);
}
.time-dates {
  font-size: 16px;
  color: var(--Text-Grey, #525252);
  text-align: center;
  font-weight: 400;
}
.time-list {
  width: 229px;
  height: 166px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border: none;
  border-radius: 8px;
  background: var(--Neutral-White, #FFF);
  padding: 18px;
  gap: 18px;
}
.time-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}
.region {
  color: var(--Text-Grey, #525252);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.time {
  color: var(--Text-primary, #333);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}


/* Responsive design */
@media (min-width: 1025px) and (max-width: 1399px) {
  .top-container {
    width: 100%;
    padding: 15px 0px;
  }
  .banner {
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .cloud {
    width: 100%; 
    max-width: 550px;
    height: auto;
  }
  .cloud-title {
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-45%, -50%);
    width: 320px;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
  }
  .main-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .most-recent,
  .colleagues,
  .faith,
  .boss,
  .self-dev,
  .focus {
    max-width: 550px;
    padding: 20px;
  }
  .speaker-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .speaker-role {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
    overflow: hidden;
    color: var(--Text-Grey, #525252);
    text-overflow: ellipsis;
    font-size: 16px;
  }
  .three-parts {
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
  .left, 
  .mid {
    width: 100%; 
    height: 180px;
    max-width: 450px;
    margin-bottom: 30px;
  }
  .left-detail {
    display: flex;
    justify-content: center;
  }
  .section-text {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .office-text {
    margin-bottom: 8px;
  }
  .oh-mid-part {
    gap: 0px;
  }
  .right {
    width: 100%; 
    max-width: 930px; 
    margin-top: 30px; 
  }
  .right-detail {
    height: 250px;
  }
  .time-list {
    width: 420px;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}


/* For Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .top-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 0;
  }
  .cloud {
    width: 100%; 
    max-width: 500px;
    height: auto;
  }
  .cloud-title {
    position: absolute;
    top: 60%;
    left: 47%;
    transform: translate(-45%, -50%);
    width: 320px;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
  }
  .main-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .most-recent,
  .colleagues,
  .faith,
  .boss,
  .self-dev,
  .focus {
    max-width: 550px;
    padding: 15px;
  }
  .oh-each-recording:nth-child(n+3) {
    display: none;
  }
  .speaker-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .speaker-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0px;
    justify-items: center;
  }
  .speaker-card {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 460px;
    height: 160px;
  }
  .speaker-role {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
    overflow: hidden;
    color: var(--Text-Grey, #525252);
    text-overflow: ellipsis;
    font-size: 16px;
  }
  .orange-airplane {
    width: 70%;
  }
  .three-parts {
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
  .left, 
  .mid {
    width: 100%; 
    height: 180px;
    max-width: 330px;
    margin-bottom: 30px;
  }
  .left-detail {
    display: flex;
    justify-content: center;
  }
  .section-text {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .office-text {
    margin-bottom: 8px;
  }
  .oh-mid-part {
    gap: 0px;
  }
  .right {
    width: 100%; 
    max-width: 685px; 
    margin-top: 30px; 
  }
  .right-detail {
    height: 250px;
  }
  .time-list {
    width: 300px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  } 
}


@media (min-width: 481px) and (max-width: 767px) {
  .top-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    margin-bottom: -30px;
    gap: 0;
  }
  .cloud {
    width: 100%;
  }
  .cloud-title {
    top: 60%;
    left: 50%;
    width: 320px; 
    font-size: 28px;
    line-height: 34px;
  }
  .new-recording > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .new-audio-question {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .oh-play-now-btn {
    padding: 10px 10px 10px 15px;
  }
  .main-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-bottom: 80px;
  }
  .most-recent,
  .colleagues,
  .faith,
  .boss,
  .self-dev,
  .focus {
    width: 420px;
    padding: 15px;
  }
  .oh-each-recording:nth-child(n+3) {
    display: none;
  }

  
  /* Panelists */
  .panelists-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  .title-and-airplane {
    flex-direction: column; 
    align-items: center; 
  }
  .blue-airplane{
    display: none;
  }
  .speaker-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0px;
    justify-items: center;
  }
  .speaker-card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 420px;
    height: 150px;
    gap: 15px;
    padding: 15px;
    border: 2px solid var(--stroke-blue, #E1F0FD);
    margin-bottom: 12px;
  }
  .speaker-image {
    width: 90px;
    height: 90px;
    object-fit: cover;
  }

  /* Bottom Part */
  .office-airplane {
    flex-direction: column; 
    align-items: center; 
  }
  .three-parts {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .left {
    width: 420px;
    height: 180px;
    margin-bottom: 50px;
  } 
  .section-text {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .office-text {
    margin-bottom: 8px;
  }
  .oh-mid-part {
    gap: 0px;
  }
  .mid {
    width: 420px;
    height: 180px;
    margin-bottom: 40px;
  }
  .oh-mid-text {
    line-height: 16px;
  }
  .join-btn {
    padding: 10px;
  }
  .right {
    width: 420px;
    margin-top: 10px;
  }
  .right-detail {
    width: 420px;
    height: 380px;
  }
  .time-box {
    display: flex; 
    flex-direction: column;
    padding: 8px 12px;
    gap: 2px;
  }
  .icon-and-date {
    display: flex;
    text-align: center;
  }
  .date-icon {
    margin-top: -2px;
  }
  .date-icon svg {
    width: 14px; 
    height: 14px; 
  }
  .time-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .time-list {
    width: 380px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
  }
  .orange-airplane {
    display: none;
  }
}

@media (min-width: 431px) and (max-width: 480px) {
  .top-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    margin-bottom: -30px;
    gap: 0;
  }
  .cloud {
    width: 100%;
  }
  .cloud-title {
    top: 60%;
    left: 50%;
    width: 270px; 
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
  .new-recording > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .new-audio-title{
    align-self: center;
    font-size: 24px;
    line-height: 32px;
  }
  .new-audio-date {
    font-size: 18px;
    line-height: 26px;
  }
  .new-audio-question {
    font-size: 18px;
    line-height: 26px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .oh-play-now-btn {
    font-size: 16px;
    line-height: 28px;
    padding: 7px 12px;
  }
  .oh-play-icon svg{
    width: 16px;
    height: 16px;
  }
  .main-container  {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-bottom: 40px;
  }
  .most-recent,
  .colleagues,
  .faith,
  .boss,
  .self-dev,
  .focus {
    width: 375px;
    padding: 12px;
  }
  .oh-each-recording:nth-child(n+3) {
    display: none;
  }
  .category-title {
    font-size: 20px;
    line-height: normal;
  }
  .section-view-more a{
    font-size: 15px;
  }
  .oh-date-box {
    width: 55px;
    height: 55px;
  }
  .left-month-day,
  .mid-month-day,
  .right-month-day,
  .boss-month-day,
  .selfDev-month-day,
  .focusGrp-month-day {
    font-size: 18px;
    line-height: 20px;
  }
  .left-year,
  .mid-year,
  .right-year,
  .boss-year,
  .selfDev-year,
  .focusGrp-year {
    font-size: 16px;
    line-height: 20px;
  }
  .oh-each-recording {
    height: 75px;
    gap: 10px;
  }
  .oh-content {
    flex: 1 1 auto;
    overflow: hidden;
    margin-right: 6px;
  }
  .oh-title {
    width: 250px;
    font-size: 18px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden; 
    text-overflow: ellipsis;
  }
  .oh-question {
    width: 250px;
    font-size: 16px;
    line-height: 20px;
  }
  
  /* Panelists */
  .panelists-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  .title-and-airplane {
    flex-direction: column; 
    align-items: center; 
  }

  .blue-airplane{
    display: none;
  }
  .panelists-title,
  .office-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .speaker-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0px;
    justify-items: center;
    margin-bottom: 30px;
  }
  .speaker-card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 375px;
    height: 120px;
    gap: 15px;
    padding: 15px;
    border: 2px solid var(--stroke-blue, #E1F0FD);
    margin-bottom: 12px;
  }
  .speaker-image {
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
  .speaker-name {
    font-size: 18px;
    line-height: 26px;
  }
  .speaker-role {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
  }

  /* Bottom Part */
  .office-airplane {
    flex-direction: column; 
    align-items: center; 
  }
  .three-parts {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .left-title, 
  .mid-title,
  .right-title {
    height: 30px;
    font-size: 16px;
  }
  .left {
    width: 375px;
    height: 100px;
    margin-bottom: 15px;
  } 
  .section-text {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
  .office-text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
  }
  .mid {
    width: 375px;
    height: 104px;
  }
  .oh-mid-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .oh-mid-text {
    font-size: 14px;
    line-height: 16px;
    margin-top: 12px;
    text-align: center;
  }
  .join-btn {
    font-size: 14px;
    padding: 7px 10px;
    margin-left: 10px;
  }
  .right {
    width: 375px;
    margin-top: 15px;
  }
  .right-detail {
    width: 375px;
    height: 300px;
  }
  .time-box {
    display: flex; 
    flex-direction: column;
    padding: 8px 12px;
    gap: 2px;
  }
  .time-type {
    font-size: 16px;
    line-height: 18px;
  }
  .icon-and-date {
    display: flex;
    text-align: center;
  }
  .date-icon {
    margin-top: -6px;
  }
  .date-icon svg {
    width: 14px; 
    height: 14px; 
  }
  .time-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .time-dates,
  .region,
  .time {
    font-size: 14px;
    line-height: 20px;
  }
  .time-list {
    width: 320px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    margin-top: -10px;
  }
  .orange-airplane {
    display: none;
  }
}


/* For Mobile 1*/
@media (max-width: 430px) {
  /* Top Section */
  .top-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    margin-bottom: -30px;
    gap: 0;
  }
  .cloud {
    width: 100%;
  }
  .cloud-title {
    top: 60%;
    left: 50%;
    width: 270px; 
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
  .new-recording > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .new-audio-title{
    align-self: center;
    font-size: 24px;
    line-height: 32px;
  }
  .new-audio-date {
    font-size: 18px;
    line-height: 26px;
  }
  .new-audio-question {
    font-size: 18px;
    line-height: 26px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .oh-play-now-btn {
    font-size: 16px;
    line-height: 28px;
    padding: 7px 12px;
  }
  .oh-play-icon svg{
    width: 16px;
    height: 16px;
  }
  .main-container  {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-bottom: 40px;
  }
  .most-recent,
  .colleagues,
  .faith,
  .boss,
  .self-dev,
  .focus {
    width: 375px;
    padding: 12px;
  }
  .oh-each-recording:nth-child(n+3) {
    display: none;
  }
  .category-title {
    font-size: 20px;
    line-height: normal;
  }
  .section-view-more a{
    font-size: 15px;
  }
  .oh-date-box {
    width: 55px;
    height: 55px;
  }
  .left-month-day,
  .mid-month-day,
  .right-month-day,
  .boss-month-day,
  .selfDev-month-day,
  .focusGrp-month-day {
    font-size: 18px;
    line-height: 20px;
  }
  .left-year,
  .mid-year,
  .right-year,
  .boss-year,
  .selfDev-year,
  .focusGrp-year {
    font-size: 16px;
    line-height: 20px;
  }
  .oh-each-recording {
    height: 75px;
    gap: 10px;
  }
  .oh-content {
    flex: 1 1 auto;
    overflow: hidden;
    margin-right: 6px;
  }
  .oh-title {
    width: 250px;
    font-size: 18px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden; 
    text-overflow: ellipsis;
  }
  .oh-question {
    width: 250px;
    font-size: 16px;
    line-height: 20px;
  }
  
  /* Panelists */
  .panelists-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  .title-and-airplane {
    flex-direction: column; 
    align-items: center; 
  }

  .blue-airplane{
    display: none;
  }
  .panelists-title,
  .office-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .speaker-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0px;
    justify-items: center;
    margin-bottom: 30px;
  }
  .speaker-card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 375px;
    height: 120px;
    gap: 15px;
    padding: 15px;
    border: 2px solid var(--stroke-blue, #E1F0FD);
    margin-bottom: 12px;
  }
  .speaker-image {
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
  .speaker-name {
    font-size: 18px;
    line-height: 26px;
  }
  .speaker-role {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
  }

  /* Bottom Part */
  .office-airplane {
    flex-direction: column; 
    align-items: center; 
  }
  .orange-airplane {
    display: none;
  }
  .three-parts {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .left-title, 
  .mid-title,
  .right-title {
    height: 30px;
    font-size: 16px;
  }
  .left {
    width: 375px;
    height: 100px;
    margin-bottom: 15px;
  } 
  .section-text {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
  .office-text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
  }
  .mid {
    width: 375px;
    height: 104px;
  }
  .oh-mid-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .oh-mid-text {
    font-size: 14px;
    line-height: 16px;
    margin-top: 12px;
    text-align: center;
  }
  .join-btn {
    font-size: 14px;
    padding: 7px 10px;
    margin-left: 10px;
  }
  .right {
    width: 375px;
    margin-top: 15px;
  }
  .right-detail {
    width: 375px;
    height: 300px;
  }
  .time-box {
    display: flex; 
    flex-direction: column;
    padding: 8px 12px;
    gap: 2px;
  }
  .time-type {
    font-size: 16px;
    line-height: 18px;
  }
  .icon-and-date {
    display: flex;
    text-align: center;
  }
  .date-icon {
    margin-top: -6px;
  }
  .date-icon svg {
    width: 14px; 
    height: 14px; 
  }
  .time-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .time-dates,
  .region,
  .time {
    font-size: 14px;
    line-height: 20px;
  }
  .time-list {
    width: 320px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    margin-top: -10px;
  }
}


/* For Mobile 2*/
@media (max-width: 390px) {
    /* Top Section */
  .top-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    margin-bottom: -30px;
    gap: 0;
  }
  .cloud-title {
    top: 61%;
    left: 50%;
    width: 250px; 
    font-size: 22px;
    line-height: 28px;
  }
  .new-recording {
    width: 100%;
    align-items: center;
  }
  .new-audio-title{
    align-self: center;
    font-size: 22px;
    line-height: 28px;
  }
  .new-audio-date,
  .new-audio-question {
    font-size: 18px;
    line-height: 24px;
  }
  .oh-play-now-btn {
    font-size: 16px;
    line-height: 28px;
    padding: 7px 12px;
  }
  .most-recent,
  .colleagues,
  .faith,
  .boss,
  .self-dev,
  .focus {
    width: 325px;
    padding: 12px;
  }
  .category-title {
    font-size: 20px;
    line-height: normal;
  }
  .section-view-more a{
    font-size: 15px;
  }
  .oh-date-box {
    width: 55px;
    height: 55px;
  }
  .left-month-day,
  .mid-month-day,
  .right-month-day,
  .boss-month-day,
  .selfDev-month-day,
  .focusGrp-month-day {
    font-size: 18px;
    line-height: 20px;
  }
  .left-year,
  .mid-year,
  .right-year,
  .boss-year,
  .selfDev-year,
  .focusGrp-year {
    font-size: 16px;
    line-height: 20px;
  }
  .oh-title {
    width: 200px;
    font-size: 18px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden; 
    text-overflow: ellipsis;
  }
  .oh-question {
    width: 200px;
    font-size: 16px;
    line-height: 20px;
  }
  
  /* Panelists */
  .panelists-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .speaker-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0px;
    margin-bottom: 30px;
  }
  .speaker-card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 325px;
    height: 120px;
    gap: 15px;
    padding: 15px;
    border: 2px solid var(--stroke-blue, #E1F0FD);
    margin-bottom: 12px;
  }
  .speaker-image {
    width: 85px;
    height: 85px;
    object-fit: cover;
  }

  /* Bottom Part */
  .three-parts {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .left-title, 
  .mid-title,
  .right-title {
    height: 30px;
    font-size: 16px;
  }
  .left {
    width: 325px;
    height: 100px;
    margin-bottom: 15px;
  } 
  .section-text {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
  .office-text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
  }
  .mid {
    width: 325px;
    height: 104px;
  }
  .oh-mid-text {
    font-size: 14px;
    line-height: 16px;
    margin-top: 12px;
    text-align: center;
  }
  .join-btn {
    font-size: 14px;
    line-height: 16px;
    padding: 7px 13px;
    margin-left: 10px;
  }
  .right {
    width: 325px;
    margin-top: 15px;
  }
  .right-detail {
    width: 325px;
    height: 300px;
  }
  .time-box {
    display: flex; 
    flex-direction: column;
    padding: 8px 12px;
    gap: 2px;
  }
  .time-type {
    font-size: 16px;
    line-height: 18px;
  }
  .icon-and-date {
    display: flex;
    text-align: center;
  }
  .date-icon {
    margin-top: -6px;
  }
  .date-icon svg {
    width: 14px; 
    height: 14px; 
  }
  .time-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .time-dates,
  .region,
  .time {
    font-size: 14px;
    line-height: 20px;
  }
  .time-list {
    width: 305px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    margin-top: -10px;
  } 
}

/* For Mobile 3*/
@media (max-width: 320px) {
    /* Top Section */
  .top-container {
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
    align-items: center;
    margin-bottom: -40px;
  }
  .cloud-title {
    top: 60%;
    left: 50%;
    width: 220px; 
    font-size: 20px;
    line-height: 26px;
  }
  .new-recording {
    width: 100%;
    align-items: center;
  }
  .new-audio-title{
    align-self: center;
    font-size: 20px;
    line-height: 26px;
  }
  .new-audio-date {
    font-size: 16px;
    line-height: 16px;
  }
  .new-audio-question {
    font-size: 16px;
    line-height: 24px;
  }
  .oh-play-now-btn {
    font-size: 16px;
    line-height: 26px;
    padding: 7px 12px;
  }
  .main-container  {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-bottom: 30px;
  }
  .most-recent,
  .colleagues,
  .faith,
  .boss,
  .self-dev,
  .focus {
    width: 270px;
    padding: 10px;
    margin-bottom: -5px;
  }
  .category-title {
    font-size: 18px;
    line-height: normal;
  }
  .section-view-more a{
    font-size: 14px;
  }
  .oh-date-box {
    width: 50px;
    height: 50px;
  }
  .left-month-day,
  .mid-month-day,
  .right-month-day,
  .boss-month-day,
  .selfDev-month-day,
  .focusGrp-month-day {
    font-size: 16px;
    line-height: 18px;
  }
  .left-year,
  .mid-year,
  .right-year,
  .boss-year,
  .selfDev-year,
  .focusGrp-year {
    font-size: 16px;
    line-height: 18px;
  }
  .oh-title {
    width: 160px;
    font-size: 18px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden; 
    text-overflow: ellipsis;
  }
  .oh-question {
    width: 170px;
    font-size: 16px;
    line-height: 20px;
  }
  
  /* Panelists */
  .panelists-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blue-airplane{
    display: none;
  }
  .panelists-title,
  .office-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .speaker-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0px;
    margin-bottom: 10px;
  }
  .speaker-card {
    width: 270px;
    height: 100px;
    gap: 10px;
    padding: 10px;
    margin-bottom: 12px;
  }
  .speaker-image {
    width: 75px;
    height: 75px;
    object-fit: cover;
  }
  .speaker-name {
    font-size: 16px;
    line-height: 26px;
  }
  .speaker-role {
    font-size: 14px;
  }

  /* Bottom Part */
  .three-parts {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .left-title, 
  .mid-title,
  .right-title {
    height: 30px;
    font-size: 16px;
  }
  .left {
    width: 270px;
    height: 90px;
    margin-bottom: 15px;
  } 
  .section-text {
    font-size: 14px;
    width: 270px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .office-text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
  }
  
  .oh-mid-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  }
  .mid {
    width: 270px;
    height: 110px;
  }
  .oh-mid-text {
    font-size: 14px;
    line-height: 8px;
    margin-top: 0px;
  }
  .join-btn {
    font-size: 14px;
    display: flex;
    padding: 7px 10px;
    margin-left: 0px;
  }
  .right {
    width: 270px;
  }
  .right-detail {
    width: 270px;
    height: 400px;
  }
  .time-box {
    display: flex; 
    flex-direction: column;
    padding: 5px 10px;
    gap: 0px;
  }
  .time-type {
    font-size: 14px;
    line-height: 20px;
  }
  .icon-and-date {
    display: flex;
    text-align: center;
  }
  .date-icon {
    margin-top: -6px;
  }
  .date-icon svg {
    width: 12px; 
    height: 12px; 
  }
  .time-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .time-dates,
  .region,
  .time {
    font-size: 14px;
    line-height: 20px;
  }
  .time-list {
    width: 250px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    margin-top: 0px;
    gap: 10px;
  }
 
}