.top-container {
  display: flex;
  flex-direction: row;
  padding: 30px 0px 30px 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.banner {
  position: relative;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.cloud {
  width: 100%; 
  height: auto; 
}
.cloud-title {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
  white-space: pre-line;
  color: var(--Blue-500, #37ACF4);
  text-align: center;
  font-family: "Baloo 2";
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}
.new-recording {
  font-family: "Noto Sans";
  flex: 1;
  width: 689px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.new-audio-title {
  color: #0E426C;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.new-audio-date {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; 
  color: var(--Text-primary, #333);
  margin-bottom: 10px;
}
.new-audio-question {
  display: -webkit-box;
  align-self: stretch;
  overflow: hidden;
  color: #333;
  text-overflow: ellipsis;
  font-family: "Noto Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.oh-play-now-btn {
  background: #FF9700;
  color: var(--Text-white, #FFF);
  font-family: "Noto Sans";
  font-size: 20px;
  font-weight: 700;
  display: flex;
  padding: 16px 16px 16px 24px;
  align-items: center;
  border: none;
  border-radius: 40px; 
}
.oh-play-icon svg path{
  fill: #FFF;
}

/* Main recording  */
.main-container {
  font-family: "Noto Sans";
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: stretch;
  margin-bottom: 15px;
}
.view-all {
  display: block;
  text-align: right;
  justify-content: flex-end;
}
.view-all a {
  color: var(--Text-Grey, #525252);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.recording-card {
  display: flex; 
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.most-recent, 
.colleagues, 
.faith {
  display: flex;
  width: 427px;
  padding: 16px 24px 12px 24px;
  flex-direction: column;
  flex: 1;
}
.main-left,
.main-mid,
.main-right {
  margin-bottom: 12px;
}
.cate-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-title {
  display: flex;
  color: var(--Text-blue, #0E426C);
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}
.section-view-more {
  text-align: right;
}
.section-view-more a{
  color: var(--Text-Grey, #525252);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
}
.most-recent {
  border-radius: 8px;
  background: var(--bg-light-blue, #F0F8FF);
}
.oh-each-recording {
  display: flex;
  height: 120px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #DADADA;
}
.oh-date-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 76px;
  border-radius: 4px;
  background: var(--Neutral-White, #FFF);
  flex-shrink: 0;
  margin-right: 12px;
}
.left-month-day {
  color: var(--Blue-700, #0E426C);
  font-family: "Baloo 2";
  font-size: 20px;
  font-weight: 600;
}
.left-year {
  color: var(--Blue-700, #0E426C);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.oh-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.oh-title {
  width: 255px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--Text-primary, #333);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
}
.oh-question {
  width: 255px;
  color: var(--Text-Grey, #525252);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden; 
  text-overflow: ellipsis;
}
.play-icon-round {
  display: flex;
  cursor: pointer;
  flex-shrink: 0;
}

.colleagues {
  border-radius: 8px;
  background: var(--PInk-300, #FFF3F8);
}
.mid-month-day {
  color: var(--PInk-500, #9F0C51);
  text-align: center;
  font-family: "Baloo 2";
  font-size: 20px;
  font-weight: 600;
}
.mid-year {
  color: var(--PInk-500, #9F0C51);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}


.faith {
  border-radius: 8px;
  background: var(--Purple-300, #F7F3FF);
}
.right-month-day {
  color: var(--Purple-500, #6406B7);;
  text-align: center;
  font-family: "Baloo 2";
  font-size: 20px;
  font-weight: 600;
}
.right-year {
  color: var(--Purple-500, #6406B7);;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}



/* Panelists */
.panelists-section {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-bottom: 75px;
}
.title-and-airplane {
  display: flex; 
  justify-content: space-between; 
  align-items: baseline; 
  width: 100%;
}
.blue-airplane{
  width: 218px;
  height: 118px;
  transform: rotate(-2.72deg);
  margin-right: 10px;
}

.panelists-title {
  color: var(--Blue-700, #0E426C);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 30px;
}
.speaker-container {
  display: grid;
  width: 1320px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
.speaker-card {
  display: flex;
  align-items: center;
  width: 418px;
  height: 160px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 4px solid var(--stroke-blue, #E1F0FD);
  padding: 20px;
  box-shadow: 3px 4px 14px 1px rgba(99, 99, 99, 0.09);
  transition: transform 0.2s;
  gap: 18px;
  margin-bottom: 20px;
}
.speaker-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.speaker {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.speaker-name,
.speaker-role {
  margin: 0; 
  line-height: 1.2;
}
.speaker-name {
  color: var(--Text-primary, #333);
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}
.speaker-role {
  color: var(--Text-Grey, #525252);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  word-wrap: break-word; 
  white-space: pre-wrap;
}


/* Office hour */
.hour-container {
  font-family: "Noto Sans";
  display: flex;
  width: 1440px;
  padding: 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 60px;
}
.office-airplane {
  display: flex; 
  justify-content: space-between; 
  align-items: baseline; 
  width: 100%;
}
.office-title {
  color: var(--Blue-700, #0E426C);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px; 
  margin-bottom: 24px;
}

.three-parts {
  display: flex;
  justify-content: space-between;
}
.left-and-mid {
  display: flex;
  flex-direction: row;
  height:277px;
  gap: 50px;
  margin-right: 50px;
}
.left, 
.mid {
    width: 329px;
    flex: 1;
  }
.right {
    width: 534px;
    flex: 1;
  }
.left-title {
  display: flex;
  width: 100%;
  height: 64px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--bg-dark-blue, #065D9E);
  color: var(--Text-white, #FFF);
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px 8px 0 0;
  margin: 0; 
}
.left-detail {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--bg-light-blue, #F0F8FF);
  border-radius: 0 0 8px 8px;
}
.section-text {
  color: var(--Text-primary, #333);
  text-align: center;
  margin-top: 52px;
  margin-bottom: 52px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.office-text {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  display: flex;
  color: var(--Text-primary, #333);
  text-align: center;
  font-family: Inter;
  margin-bottom: 18px;
  text-wrap: nowrap;
}
.pencil svg {
  width: 18px;
  height: 18px;
  color: #333;
  margin-right: 4px;
}
.hour-content{
  color: var(--Text-primary, #333);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}

.mid-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 10px;
  gap: 10px;
  flex-shrink: 0;
  background: var(--bg-dark-blue, #065D9E);
  color: var(--Text-white, #FFF);
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px 8px 0 0;
  margin: 0; 
}
.mid-detail {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--bg-light-blue, #F0F8FF);
  border-radius:0 0 8px 8px;
}
.mid-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mid-text {
  color: var(--Text-primary, #333);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 52px;
  text-align: center;
  text-wrap: nowrap;
}
.join-btn {
  color: var(--Blue-600, #065D9E);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  border: 2px solid var(--Blue-600, #065D9E);
  background: var(--Neutral-White, #FFF);
  margin-top: 35px;
  margin-bottom: 40px;
}
.join-btn a {
  color: var(--Blue-600, #065D9E);
  text-decoration: none;
  cursor: pointer;
}

.right-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  gap: 10px;
  flex-shrink: 0;
  background: var(--bg-dark-blue, #065D9E);
  color: var(--Text-white, #FFF);
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px 8px 0 0;
  margin: 0; 
}
.right-detail {
  width: 100%;
  height: 277px;
  display: flex;
  padding: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--bg-light-blue, #F0F8FF);
  border-radius:0 0 8px 8px;
  font-family: Inter;
}
.time-box {
  display: flex; 
  justify-content: space-between; 
  padding: 18px;
}
.time-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: var(--Text-primary, #333);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; 
}
.time-type {
  color: var(--Text-primary, #333);
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.icon-and-date {
  display: flex;
  text-align: center;
}
.date-icon {
  align-items: center;
  margin-right: 4px;
}
.date-icon svg {
  width: 18px; 
  height: 18px; 
  fill: var(--Text-Grey, #525252);
}
.time-dates {
  font-size: 16px;
  color: var(--Text-Grey, #525252);
  text-align: center;
  font-weight: 400;
}
.time-list {
  width: 229px;
  height: 166px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border: none;
  border-radius: 8px;
  background: var(--Neutral-White, #FFF);
  padding: 18px;
  gap: 18px;
}
.time-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}
.region {
  color: var(--Text-Grey, #525252);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.time {
  color: var(--Text-primary, #333);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}

/* For Smaller Screens */
@media (max-width: 1280px) { 
  .view-all {
    margin-right: -30px;
  }
  .most-recent,
  .colleagues,
  .faith {
    width: 373px;
  }
  .oh-each-recording {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .oh-content {
    flex: 1 1 auto;
    overflow: hidden;
    margin-right: 12px;
  }
  .oh-title,
  .oh-question {
    width: 200px;
  }
  .play-icon-round {
    flex-shrink: 0;
  }
  
  /* Panelists */
  .speaker-card {
    display: flex;
    width: 280px;
    height: 240px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-align: center;
  }
  .speaker-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
  .speaker-name {
    text-align: center;
    color: var(--Text-primary, #333);
    font-size: 20px;
    font-weight: 600;
  }
  .speaker-role {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
    overflow: hidden;
    color: var(--Text-Grey, #525252);
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }

  /* Bottom Part */
  .three-parts {
    display: flex;
    justify-content: space-between;
  }
  .left-and-mid {
    display: flex;
    flex-direction: row;
    gap: 23px; 
    margin-right: 23px;
  }
  .left, 
  .mid {
    width: 300px;
  }
  .right {
    width: 514px;
  }
}

@media (min-width: 770px) and (max-width: 1199px) {
  .top-container {
    width: 1150px;
    flex-direction: row;
    padding: 20px 0;
    align-items: center;
  }
  .view-all {
    margin-right: auto;
  }
  .title-and-airplane {
    width: 120%;
  }
  /* .title-and-airplane {
    position: relative;
  } */
  /* .blue-airplane {
    position: absolute;
  } */
  .orange-airplane {
    display: none;
  }
}

/* For iPad */
@media (max-width: 769px) {
  /* Top Section */
  .top-container {
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
  }
  .new-recording {
    width: 640px;
  }
  .new-audio-question {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* Main Section */
  .view-all {
    margin-right: 25px;
  }
  .recording-card {
    flex-direction: column;
    align-items: stretch;
    padding: 10px 25px;
  }
  .most-recent, 
  .colleagues, 
  .faith {
    width: 649px;
    flex-direction: column;
  }
  .oh-each-recording:nth-child(n+4) {
    display: none;
  }
  .oh-each-recording {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px; 
  }
  .oh-title,
  .oh-question {
    width: 477px;
  }
  
  /* Panelists */
  .panelists-section {
    padding: 10px 25px;
  }
  .title-and-airplane {
    width: 95%;
  }
  .blue-airplane{
    width: 150px;
    height: 80px;
    transform: rotate(-2.72deg);
    margin-right: 10px;
  }
  .speaker-container {
    width: 649px;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px; 
  }

  /* Bottom Part */
  .officehour-container {
    padding: 0px 25px;
  }
  .orange-airplane {
    display: none;
    /* width: 350px;
    height: 35px; */
  }
  .three-parts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .left-and-mid {
    width: 649px;
    height: 236px;
    margin-bottom: 85px;
  }
  .right {
    width: 649px;
  }
  .time-box {
    padding: 20px 28px;
    gap: 80px;
  }
}

/* For Mobile */
@media (min-width: 320px) and (max-width: 425px) {
  /* Top Section */
  .top-container {
    flex-direction: column;
    padding: 0px;
    align-items: center;
  }
  .cloud {
    width: 90%;
  }
  .cloud-title {
    top: 60%;
    left: 45%;
    width: 200px; 
    font-size: 18px;
    font-weight: 700;
  }
  .new-recording {
    width: 90%;
    align-items: center;
    padding: 0;
  }
  .new-audio-title{
    align-self: stretch;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }
  .new-audio-date {
    font-size: 12px;
    margin-bottom: 5px;
    line-height: 18px;
  }
  .new-audio-question {
    font-size: 12px;
    line-height: 20px;
  }
  .oh-play-now-btn {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding: 2px 5px 2px 13px;
  }
  .main-container {
    margin-left: -5px;
    gap: 0px;
    align-self: stretch;
    margin-bottom: 15px;
  }
  .view-all a {
    font-size: 10px;
    font-weight: 400;
    margin-right: 15px;

  }
  .most-recent,
  .colleagues,
  .faith {
    width: 296px;
    padding: 12px 8px 8px 8px;
  }
  .category-title {
    font-size: 16px;
    line-height: normal;
  }
  .section-view-more a{
    font-size: 12px;
  }
  .oh-date-box {
    width: 50px;
    height: 50px;
  }
  .left-month-day,
  .mid-month-day,
  .right-month-day {
    font-size: 14px;
    line-height: 18px;
  }
  .left-year,
  .mid-year,
  .mid-year {
    font-size: 12px;
    line-height: 16px;
  }
  .oh-each-recording {
    height: 72px;
  }
  .oh-content {
    flex: 1 1 auto;
    overflow: hidden;
    margin-right: 6px;
  }
  .oh-title {
    width: 210px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }
  .oh-question {
    width: 200px;
    font-size: 10px;
    line-height: 16px;
  }
  
  /* Panelists */
  .panelists-section {
    margin-left: -5px;
  }
  .blue-airplane{
    display: none;
  }
  .panelists-title {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .speaker-container {
    width: 296px;
    justify-content: space-between;
    row-gap: 8px;
    column-gap: 8px;
    flex-wrap: wrap;
  }
  .speaker-card {
    width: 144px;
    height: 180px;
    gap: 8px;
    padding: 8px;
    border: 2px solid var(--stroke-blue, #E1F0FD);
  }
  .speaker-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .speaker-name {
    text-align: center;
    color: var(--Text-primary, #333);
    font-size: 12px;
    font-weight: 600;
  }
  .speaker-role {
    font-size: 10px;
  }

  /* Bottom Part */
  .officehour-container {
    margin-top: -70px;
    margin-left: -5px;
    /* padding: 0; */
  }
  .office-title {
    font-size: 12px;
    line-height: 16px; 
    margin-bottom: 10px;
  }
  .three-parts {
    display: flex;
    justify-content: space-between;
  }
  .left-and-mid {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 25px;
  }
  .left-title, 
  .mid-title,
  .right-title {
    height: 28px;
    font-size: 12px;
  }
  .left {
    width: 296px;
    height: 86px;
    margin-bottom: 12px;
  } 
  .section-text {
    font-size: 14px;
    width: 272px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
  .office-text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
  }
  .mid {
    width: 296px;
    height: 104px;
  }
  .mid-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mid-text {
    font-size: 12px;
    line-height: 16px;
    margin-top: 12px;
    margin-left: -20px;
    text-align: center;
  }
  .join-btn {
    font-size: 14px;
    display: flex;
    padding: 2px 10px;
    margin-left: 20px;
  }

  .right {
    width: 296px;
    height: 262px;
    margin-top: 12px;
  }
  .time-box {
    display: flex; 
    flex-direction: column;
    padding: 8px 12px;
    gap: 0;
  }
  .time-type {
    font-size: 14px;
    line-height: 18px;
  }
  .icon-and-date {
    display: flex;
    text-align: center;
  }
  .date-icon {
    align-items: center;
    margin-right: 2px;
    margin-top: -8px;
  }
  .date-icon svg {
    width: 14px; 
    height: 14px; 
  }
  .time-dates {
    font-size: 12px;
    line-height: 16px;
  }
  .time-list {
    width: 272px;
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 12px;
    gap: 15px;
  }
  .region {
    font-size: 12px;
    line-height: 16px;
  }
  .time {
    font-size: 12px;
    line-height: 16px;
  }
}