.proj-top-part {
  display: flex;
  padding: 60px 0px 30px 60px;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Sans";
}
.proj-left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projTitle {
  color: var(--Blue-700, #0E426C);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 12px;
}
.projSub {
  color: var(--Text-primary, #333);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
  margin-bottom: 24px;
}
.proj-apply-btn {
  display: flex;
  padding: 12px;
  color: var(--Text-white, #FFF);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  border-radius: 40px;
  border: none;
  background: var(--Orange-500, #FF9700);
  justify-content: center;
  align-items: center;
}
.proj-apply-btn a {
  text-decoration: none;
}
.proj-top-img {
  width: 648px;
  height: 390px;
}

/* Main Part */
.proj-content-container {
  font-family: "Noto Sans";
  display: flex;
  flex-direction: column; 
  align-items: center; 
}
.proj-main-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 40px;
  margin-bottom: 120px;
}
.proj-section-label {
  display: flex;
  color: var(--Blue-700, #0E426C);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
  margin-bottom: 40px;
}
.proj-top-bk {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); 
  z-index: -1;
}
.proj-top-three {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.overview-part {
  display: flex;
  width: 400px;
  height: 330px;
  padding: 32px 12px;
  flex-direction: column;
  gap: 12px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.40);
  box-shadow: 0px 1px 20px 3px rgba(0, 0, 0, 0.09);
  z-index: 100;
  align-items: center;
}
.proj-top-three-icons svg {
  width: 40px;
  height: 40px;
}
.proj-three-titles {
  color: var(--Text-primary, #333);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%; 
}
.proj-three-text {
  color: var(--Text-primary, #333);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; 
  white-space: pre-line;
}
.proj-three-text a {
  color: var(--Text-link, #3067F2) !important;
  display: inline; 
  font-weight: inherit; 
}

/* Main Mid*/
.proj-main {
  width: 100vw;
  background: var(--bg-light-blue, #F0F8FF);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.proj-main-three {
  width: 100%;
  max-width: 1295px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.proj-main-detail {
  display: flex;
  flex-direction: row;
}
.proj-main-three-img {
  width: 50%;
  height: 400px;
  border-radius: 4px;
}
.proj-main-three-text {
  width: 50%;
  height: 400px;
  padding: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--Text-primary, #333);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}
.proj-main-btm-link {
  width: 50%;
  height: 400px;
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.proj-main-btm-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--Text-primary, #333);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}
.proj-ohLink-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: 40px;
}
.proj-ohLink {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; 
}


/* Main Bottom */
.proj-main-btm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 100px;
  margin-bottom: 80px;
}
.proj-main-sub {
  color: var(--Neutral-Black, #333);
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 5px; 
  margin-bottom: 40px;
}
.proj-btm-bk {
  width: 100vw;
  height: auto;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%); 
  z-index: -1;
}


/* Bottom Part */
.proj-bottom-part {
  font-family: "Noto Sans";
  display: flex;
  padding: 60px 60px 30px 0px;
  justify-content: space-between;
  align-items: center;
}
.proj-btm-img {
  width: 648px;
  height: 390px;
}
.proj-right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.proj-btm-title {
  color: var(--Blue-700, #0E426C);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; 
  margin-bottom: 24px;
}
.proj-btm-text {
  color: var(--Text-primary, #333);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
  margin-bottom: 24px;
}
.proj-btm-icon-lt svg{
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
.proj-btm-icons svg {
  width: 50px;
  height: 50px;
}


/* For Mobile L */
@media (max-width: 430px) {
  .proj-top-part {
    display: flex;
    flex-direction: column;
    padding: 35px 0px;
    align-items: center;
    gap: 24px;
  }
  .proj-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projTitle {
    font-size: 26px;
    line-height: 28px;
  }
  .projSub {
    font-size: 16px;
    line-height: 24px; 
    text-align: center;
  }
  .proj-apply-btn {
    padding: 7px 10px;
    font-size: 16px;
    line-height: 26px; 
  }
  .proj-top-img {
    width: 400px;
    height: auto;
    margin-left: 20px;
  }
  
  /* Main Part */
  .proj-main-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .proj-section-label {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .proj-top-bk {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%); 
    z-index: -1;
  }
  .proj-top-three {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }
  .overview-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 375px;
    height: 260px;
    padding: 12px;
    gap: 12px;
  }
  .proj-three-titles {
    font-size: 20px;
    line-height: 26px;
  }
  .proj-three-text {
    font-size: 18px;
    line-height: 28px;
  }
  
  /* Main Three Part */
  .proj-main {
    display: flex;
    justify-content: center;
  }
  .proj-main-three {
    width: 100%;
    max-width: 375px; 
  }
  .proj-main-detail {
    display: flex;
    flex-direction: column;
  }
  .proj-main-three-img {
    width: 375px;
    height: auto;
  }
  .proj-main-three-text {
    width: 100%;
    height: 254px;
    padding: 12px;
    font-size: 18px;
    line-height: 28px;
  }
  .proj-main-btm-text {
    width: 100%;
    height: 254px;
    padding: 0px;
    font-size: 18px;
    line-height: 28px;
    margin-top: -20px;
  }
  .proj-main-btm-link {
    width: 100%;
    height: 254px;
    display: flex;
    padding: 12px;
  }
  .proj-ohLink-icon {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
  }
  .proj-ohLink {
    font-size: 18px;
    line-height: 28px; 
  }
  .swap-on-mobile {
    flex-direction: column-reverse;
    transition: all 0.3s ease;
  }
  .proj-main-sub {
    font-size: 16px;
    line-height: 26px; 
  }

  /* Main Bottom */
  .proj-main-btm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .proj-btm-bk {
    width: 100vw;
    height: auto;
    position: absolute;
    bottom: 88%;
    left: 50%;
    transform: translateX(-50%); 
    z-index: -1;
  }
  
  /* Bottom Part  */
  .proj-bottom-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
    margin-bottom: 20px;
  }
  .proj-btm-img {
    width: 400px;
    height: auto;
  }
  .proj-btm-title {
    font-size: 26px;
    line-height: 32px; 
    margin-bottom: 12px;
  }
  .proj-btm-text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }
}

/* For Mobile M */
@media (max-width: 390px) {
  .projTitle {
    font-size: 23px;
    line-height: 28px;
  }
  .proj-top-img {
    width: 350px;
    height: auto;
  }
  
  /* Main Part */
  .overview-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 325px;
    height: 260px;
    padding: 12px;
    gap: 10px;
  }
  .proj-three-titles {
    font-size: 20px;
    line-height: 26px;
  }
  .proj-three-text {
    font-size: 16px;
    line-height: 28px;
  }
  .proj-section-label {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  
  /* Main Three Part */
  .proj-main-three {
    width: 100%;
    max-width: 325px; 
  }
  .proj-main-three-img {
    width: 325px;
    height: auto;
  }
  .proj-main-three-text {
    width: 100%;
    height: 240px;
    padding: 12px;
    font-size: 16px;
    line-height: 28px;
  }
  .proj-main-btm-text {
    width: 100%;
    height: 240px;
    padding: 0px;
    font-size: 16px;
    line-height: 28px;
    margin-top: -20px;
  }
  .proj-main-btm-link {
    width: 100%;
    height: 240px;
    display: flex;
    padding: 12px;
  }
  .proj-ohLink-icon {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
  }
  .proj-ohLink {
    font-size: 16px;
    line-height: 28px; 
  }
  .proj-main-sub {
    font-size: 16px;
    line-height: 26px; 
  }
  .proj-top-bk {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%); 
    z-index: -1;
  }
  

  /* Main Bottom */
  .proj-main-btm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  /* Bottom Part  */
  .proj-bottom-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
    margin-bottom: 20px;
  }
  .proj-btm-img {
    width: 350px;
    height: auto;
  }
  .proj-btm-title {
    font-size: 23px;
    line-height: 28px; 
    margin-bottom: 10px;
  }
  .proj-btm-text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }
}

/* For Mobile */
@media (max-width: 320px) {
  .projTitle {
    font-size: 20px;
    line-height: 26px;
  }
  .proj-top-img {
    width: 295px;
    height: auto;
  }
  .proj-top-bk {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%); 
    z-index: -1;
  }
  
  /* Main Part */
  .overview-part {
    width: 275px;
    height: 260px;
    padding: 12px;
    gap: 10px;
  }
  .proj-three-titles {
    font-size: 18px;
    line-height: 26px;
  }
  .proj-three-text {
    font-size: 16px;
    line-height: 26px;
  }
  .proj-section-label {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  
  /* Main Three Part */
  .proj-main-three {
    width: 100%;
    max-width: 275px; 
  }
  .proj-main-three-img {
    width: 275px;
    height: auto;
  }
  .proj-main-three-text {
    width: 100%;
    height: 240px;
    padding: 12px;
    font-size: 16px;
    line-height: 28px;
  }
  .proj-main-btm-text {
    width: 100%;
    height: 240px;
    padding: 0px;
    font-size: 16px;
    line-height: 28px;
    margin-top: -20px;
  }
  .proj-main-btm-link {
    width: 100%;
    height: 240px;
    display: flex;
    padding: 12px;
  }
  .proj-ohLink-icon {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
  }
  .proj-ohLink {
    font-size: 16px;
    line-height: 28px; 
  }
  .proj-main-sub {
    font-size: 16px;
    line-height: 26px; 
  }
  .proj-btm-icon-lt svg{
    width: 40px;
    height: 40px;
  }
  .proj-btm-icons svg {
    width: 40px;
    height: 40px;
  }

  /* Main Bottom */
  .proj-main-btm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .proj-btm-bk {
    width: 100vw;
    height: auto;
    position: absolute;
    bottom: 90%;
    left: 50%;
    transform: translateX(-50%); 
    z-index: -1;
  }
  
  /* Bottom Part  */
  .proj-bottom-part {
    padding: 20px;
    gap: 20px;
    margin-bottom: 20px;
  }
  .proj-btm-img {
    width: 295px;
    height: auto;
  }
  .proj-btm-title {
    font-size: 20px;
    line-height: 26px; 
    margin-bottom: 10px;
  }
  .proj-btm-text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }
}