.recording-page {
  font-family: "Noto Sans";
}
.pageTitle {
  align-self: stretch;
  color: var(--Blue-700, #0E426C);
  font-size: 20px;
  font-weight: 400;
}
.backTo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  cursor: pointer;
}
.backTo-text {
  color: var(--Text-Grey, #525252);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-left: 8px;
}


/* Filter */
.filter-container {
  display: flex;
  padding: 28px;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Neutral-White, #FFF);
  margin-top: 24px;
  margin-bottom: 24px;
}
.each-filter {
  display: flex;
  flex-direction: column;
}

.audio-search {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 2px solid #ccc;
}
.audio-search:focus {
  border: 2px solid var(--stroke-orange, #FF9700);
  outline: none; 
}
select { 
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: none;
  background: var(--bg-grey, #F0F0F0);
  cursor: pointer;
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px;
}
select:focus {
  outline: 2px solid var(--stroke-orange, #FF9700);
  background: var(--bg-orange, #FFEFD9);
  color: var(--Text-orange, #7C300B);
}
.label {
  color: var(--Text-primary, #333);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}
.filter-text{
  color: var(--Text-primary, #333);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.sort-dropdown,
.year-dropdown,
.topic-dropdown {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.filter-icon {
  display: none;
  width: 20px;
  height: 20px;
}
.filter-label {
  display: none;
}
.close-filter-btn {
  display: none;
  width: 18px;
  height: 18px;
  cursor: pointer;
}


/* Recordings */
.recording-container {
  display: flex;
  flex-direction: column;
  padding: 12px 20px 30px 20px;
  border-radius: 8px;
  background: var(--Neutral-White, #FFF);
  width: 100%;
  margin-bottom: 60px;
}
.each-recording {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px;
  gap: 16px;
  border-bottom: 1px solid #DADADA;
}
.each-recording.audio-playing {
  align-items: flex-start;
}
.date-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 76px;
  padding: 24px 16px;
  border-radius: 4px;
  background: var(--Blue-300, #E1F0FD);
  flex-shrink: 0;
}
.month-day {
  color: var(--Blue-700, #0E426C);
  font-family: "Baloo 2";
  font-size: 20px;
  font-weight: 600;
}
.year {
  color: var(--Blue-700, #0E426C);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  flex: 1;
  min-width: 0;
}
.title {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--Text-primary, #333);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.title.full {
  display: block; 
  -webkit-line-clamp: unset; 
  text-overflow: unset;
  overflow: visible;
}
.question {
  color: var(--Text-Grey, #525252);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden; 
  text-overflow: ellipsis;
}
.question.full {
  display: block; 
  -webkit-line-clamp: unset; 
  text-overflow: unset;
  overflow: visible;
}
.play-now-btn {
  width: 140px;
  height: 52px;
  border-radius: 40px;
  border: 2px solid var(--Blue-600, #065D9E);
  background: var(--Neutral-White, #FFF);
  font-size: 16px;
  font-weight: 700;
  display: flex;
  padding: 12px 12px 12px 20px;
  justify-content: center;
  align-items: center;
  color: var(--Blue-600, #065D9E);
}
.play-icon path{
  fill: var(--Blue-600, #065D9E);
}
.play-icon-round-btn {
  display: none;
}

/* Player */
.player-container {
  display: flex;
  margin-top: 32px;
  align-items: center;
}
.player {
  height: 54px;
  display: flex;
  flex: 1 0 0;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 50px;
  background: var(--bg-orange, #FFEFD9);
  box-shadow: none;
  justify-content: center;
}
.close-player-btn {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-player-btn svg {
  width: 24px;
  height: 24px;
}
.rhap_time {
  color: var(--Text-primary, #333);
  font-size: 18px;
  font-weight: 400;
}
.rhap_progress-bar {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 4px;
  background: #E4CDB6; 
  border-radius: 0;
}
.rhap_progress-filled {
  background-color: #FF9700; 
  height: 100%; 
  border-radius: 0px; 
  transition: width 0.2s ease; 
}
.rhap_progress-indicator {
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 12px;
  margin-left: -10px;
  top: -4px;
  background: var(--Orange-500, #FF9700);;
  border-radius: 50px;
  box-shadow: none;
}
.rhap_volume-bar {
  background-color: #E4CDB6; 
  height: 4px;
  border-radius: 0;
  position: relative;
}
.rhap_volume-indicator {
  background-color: #FF9700; 
  border-radius: 50%; 
  height: 12px; 
  width: 12px; 
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); 
  z-index: 2;
  transition: left 0.2s ease, background-color 0.2s ease;
  box-shadow: none;
}
.rhap_play-pause-button,
.rhap_forward-button,
.rhap_rewind-button,
.rhap_volume-button {
  width: 24px; 
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
}
.rhap_volume-button svg {
  width: 24px; 
  height: 24px;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  /* margin-top: 40px; */
}
.page {
  color: var(--Text-primary, #333);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px; 
  padding-left: 10px;
  padding-right: 10px;
}
.page, .prev, .next {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: background-color 0.2s;
}
.page-active {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: var(--bg-orange, #FFEFD9);
  color: var(--Text-orange, #7C300B);;
}

@media (min-width: 992px) and (max-width: 1024px){
  select { 
    width: 180px;
    padding: 8px 16px;
  }
  .title {
    white-space: wrap; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  .audio-search {
    width: 180px;
    padding: 5px 16px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .audio-search {
    width: 180px;
    padding: 5px 16px;
  }
  .close-filter-btn {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
  }
  .page-title-and-icon {
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
  }
  .pageTitle {
    line-height: 20px;
    margin-top: 25px;
  }
  .left-arrow svg{
    width: 24px;
    height: 24px;
  }
  .backTo-text {
    display: none;
  }
  .filter-container { 
    display: none;
  }
  .filter-container.show {
    display: flex;
    width: 100%;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .filter-icon-and-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .filter-icon {
    display: flex;
  }
  .each-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .filter-label {
    display: flex;
    color: var(--Text-Grey, #525252);
    font-weight: 400;
    line-height: 10px;
  }

  .recording-container {
    padding: 5px 15px 15px 15px;
  }
  .play-now-btn {
    display: none;
  }
  .play-icon-round-btn {
    display: inline-block; 
  }
  .each-recording {
    padding: 18px 2px;
    gap: 15px;
  }
  .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .title.full {
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
    margin-bottom: 15px;
  }
  .question {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; 
    text-overflow: ellipsis;
  }
  .question.full {
    max-width: 100%;
    word-wrap: break-word; 
    white-space: normal;
  }
  /* Player */
  .player-container {
    display: flex;
    margin-top: 12px;
    align-items: center;
  }
  .player {
    height: 45px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 30px;
  }
  .close-player-btn {
    width: 28px;
    height: 28px;
    margin-left: 8px;
  }
  .rhap_time {
    font-size: 14px;
  }
  .rhap_progress-bar {
    width: 120%;
    height: 3px;
  }
  .rhap_progress-filled {
    height: 120%; 
    height: 3px;
  }
  .rhap_progress-indicator {
    width: 10px;
    height: 10px;
  }
  .rhap_volume-bar {
    height: 3px;
  }
  .rhap_volume-indicator {
    height: 10px; 
    width: 10px; 
  }
  .rhap_play-pause-button,
  .rhap_forward-button,
  .rhap_rewind-button,
  .rhap_volume-button {
    width: 16px; 
    height: 16px;
    margin-left: -5px;
  }
  .rhap_volume-button svg {
    width: 16px; 
    height: 16px;
  }

  /* Pagination */
  .pagination {
    gap: 8px;
  }
  .page-active {
    width: 30px;
    height: 30px;
    padding: 6px;
    gap: 6px;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .close-filter-btn {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
  }
  .page-title-and-icon {
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
  }
  .pageTitle {
    line-height: 20px;
    margin-top: 25px;
  }
  .left-arrow svg{
    width: 24px;
    height: 24px;
  }
  .backTo-text {
    display: none;
  }
  .filter-container { 
    display: none;
  }
  .filter-container.show {
    display: flex;
    width: 100%;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .filter-icon-and-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .filter-icon {
    display: flex;
  }
  .each-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .filter-label {
    display: flex;
    color: var(--Text-Grey, #525252);
    font-weight: 400;
    line-height: 10px;
  }

  .recording-container {
    padding: 5px 15px 15px 15px;
  }
  .play-now-btn {
    display: none;
  }
  .play-icon-round-btn {
    display: inline-block; 
  }
  .each-recording {
    padding: 18px 2px;
    gap: 15px;
  }
  .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .title.full {
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
    margin-bottom: 15px;
  }
  .question {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; 
    text-overflow: ellipsis;
  }
  .question.full {
    max-width: 100%;
    word-wrap: break-word; 
    white-space: normal;
  }
  /* Player */
  .player-container {
    display: flex;
    margin-top: 12px;
    align-items: center;
  }
  .player {
    height: 45px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 30px;
  }
  .close-player-btn {
    width: 28px;
    height: 28px;
    margin-left: 8px;
  }
  .rhap_time {
    font-size: 14px;
  }
  .rhap_progress-bar {
    width: 120%;
    height: 3px;
  }
  .rhap_progress-filled {
    height: 120%; 
    height: 3px;
  }
  .rhap_progress-indicator {
    width: 10px;
    height: 10px;
  }
  .rhap_volume-bar {
    height: 3px;
  }
  .rhap_volume-indicator {
    height: 10px; 
    width: 10px; 
  }
  .rhap_play-pause-button,
  .rhap_forward-button,
  .rhap_rewind-button,
  .rhap_volume-button {
    width: 16px; 
    height: 16px;
    margin-left: -5px;
  }
  .rhap_volume-button svg {
    width: 16px; 
    height: 16px;
  }

  /* Pagination */
  .pagination {
    gap: 8px;
  }
  .page-active {
    width: 30px;
    height: 30px;
    padding: 6px;
    gap: 6px;
  }
}

/* For Mobile */
@media (min-width: 320px) and (max-width: 480px) {
  .filter-icon-and-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .filter-icon {
    display: flex;
  }
  .close-filter-btn {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
  }
  .page-title-and-icon {
    display: flex;
    flex: row;
    justify-content: space-evenly;
    gap: 55px;
    align-items: center;
    justify-items: center;
  }
  .pageTitle {
    font-size: 18px;
    line-height: 20px;
    margin-top: 25px;
  }
  .left-arrow svg{
    width: 24px;
    height: 24px;
  }
  .backTo-text {
    display: none;
  }
  .filter-container { 
    display: none;
  }
  .filter-container.show {
    display: flex;
    width: 100%;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .each-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .audio-search {
    padding: 5px 16px;
    font-size: 14px;
  }
  select { 
    padding: 8px 16px;
    align-items: flex-start;
  }
  .filter-label {
    display: flex;
    color: var(--Text-Grey, #525252);
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
  }
  .label {
    font-size: 14px;
    line-height: 18px;
  }
  .filter-text{
    font-size: 14px;
    line-height: 18px;
  }
  .sort-dropdown,
  .year-dropdown,
  .topic-dropdown {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  
  .recording-container {
    padding: 0px 8px 12px 8px;
  }
  .play-now-btn {
    display: none;
  }
  .play-icon-round-btn {
    display: inline-block; 
  }
  .date-box {
    width: 50px;
    height: 50px;
  }
  .month-day {
    font-size: 16px;
    line-height: 18px;
  }
  .year {
    font-size: 14px;
    line-height: 16px;
  }
  .each-recording {
    padding: 18px 5px;
    gap: 10px;
  }
  .title {
    font-size: 18px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden; 
    text-overflow: ellipsis;
  }
  .title.full {
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
    margin-bottom: 6px;
  }
  .question {
    font-size: 16px;
    line-height: 26px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden; 
    text-overflow: ellipsis;
  }
  .question.full {
    max-width: 100%;
    word-wrap: break-word; 
    white-space: normal;
  }
  /* Player */
  .player-container {
    display: flex;
    margin-top: 12px;
    align-items: center;
  }
  .player {
    height: 30px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 30px;
  }
  .close-player-btn {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  .close-player-btn svg {
    width: 12px;
    height: 12px;
  }
  .rhap_time {
    font-size: 12px;
    margin-left: -5px;
  }
  .rhap_progress-bar {
    width: 120%;
    height: 3px;
  }
  .rhap_progress-filled {
    height: 120%; 
    height: 3px;
  }
  .rhap_progress-indicator {
    width: 8px;
    height: 8px;
    margin-left: -8px;
    top: -3px;
  }
  .rhap_volume-bar {
    height: 3px;
  }
  .rhap_volume-indicator {
    height: 8px; 
    width: 8px; 
  }
  .rhap_play-pause-button,
  .rhap_forward-button,
  .rhap_rewind-button,
  .rhap_volume-button {
    width: 12px; 
    height: 12px;
    margin-left: -5px;
  }
  .rhap_volume-button svg {
    width: 12px; 
    height: 12px;
  }

  /* Pagination */
  .pagination {
    gap: 8px;
  }
  .page {
    font-size: 14px;
    line-height: 18px; 
    padding-left: 6px;
    padding-right: 6px;
  }
  .page-active {
    width: 30px;
    height: 30px;
    padding: 6px;
    gap: 6px;
  }
}