.web-backTo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  cursor: pointer;
  gap: 10px;
}
.web-pageTitle {
  align-self: stretch;
  color: var(--Blue-700, #0E426C);
  font-size: 20px;
  font-weight: 400;
}
.web-filter-container {
  display: flex;
  width: 100%;
  padding: 28px;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Neutral-White, #FFF);
  border: 1px solid var(--Neutral-Grey-500, #DADADA);
  margin-top: 24px;
  margin-bottom: 24px;
}
.web-each-filter {
  display: flex;
  flex-direction: column;
}
.web-filter-text{
  color: var(--Text-primary, #333);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.web-sort-dropdown,
.web-year-dropdown {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.video-filter-icon {
  display: none;
  width: 20px;
  height: 20px;

}
.video-label-and-x {
  display: none;
}
.video-filter-label {
  display: none;
}
.video-close-filter-btn {
  display: none;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* Video Part */
.video-and-pagination {
  font-family: "Noto Sans";
  width: 100%;
  max-width: 100%;
  margin-bottom: 60px;
}
.video-container {
  display: grid;
  width: 100%;
  max-width: 1345px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  column-gap: 45px;
}
.video-card {
  display: flex;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 453px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 60px;
}
.video-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  flex-shrink: 0;
  aspect-ratio: 16/9;
  border-radius: 8px; 
}
.video-info {
  gap: 16px;
}
.video-title {
  color: var(--Text-primary, #333);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
 }
.video-date {
  color: var(--Text-Grey, #525252);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  margin-bottom: 8px;
 }
.video-text {
  height: 72px;
  overflow: hidden;
  color: var(--Text-primary, #333);
  text-overflow: ellipsis;
  white-space: wrap;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.watch-now-btn {
  display: flex;
  padding: 10px 10px 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 2px solid var(--Blue-600, #065D9E);
  background: var(--Neutral-White, #FFF);
  color: var(--Blue-600, #065D9E);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 40px;
}



/* Responsive design */
@media (min-width: 1025px) and (max-width: 1440px) {
  .video-container {
    column-gap: 20px;
  }
}


/* For Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .video-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    column-gap: 20px;
  }
  .video-card {
    display: flex;
    width: 100%;
    max-width: 450px;
    height: 100%;
    align-items: center;
    gap: 20px;
  }
  .video-image {
    width: 100%;
    max-width: 450px;
    height: auto;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .video-filter-icon-and-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .video-filter-icon {
    display: flex;
  }
  .video-close-filter-btn {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
  }
  .video-page-title-and-icon {
    display: flex;
    flex: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 80px;
    margin-bottom: 10px;
  }
  .web-pageTitle {
    margin-top: 20px;
  }
  .video-backTo-text {
    display: none;
  }
  .web-filter-container { 
    display: none;
  }
  .web-filter-container.show {
    display: flex;
    width: 420px;
    padding: 12px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 0 auto 30px auto;
  }
  .web-each-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  select { 
    padding: 8px 16px;
    align-items: flex-start;
  }
  .video-filter-label {
    display: flex;
    color: var(--Text-Grey, #525252);
    font-size: 16px;
    font-weight: 400;
    line-height: 10px;
  }
  
  /* Video */
  .video-and-pagination {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .video-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .video-card {
    display: flex;
    width: 100%;
    max-width: 420px;
    margin-bottom: 40px;
    gap: 10px;
  }
  .video-image {
    width: 100%;
    max-width: 420px;
    height: auto;
  }
  .watch-now-btn {
    padding: 10px 10px 10px 15px;
  }
}



@media (min-width: 431px) and (max-width: 480px) {
  .video-filter-icon-and-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .video-filter-icon {
    display: flex;
  }
  .video-close-filter-btn {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
  }
  .video-page-title-and-icon {
    display: flex;
    flex: row;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    gap: 80px;
  }
  .web-pageTitle {
    font-size: 18px;
    line-height: 20px;
    margin-top: 25px;
  }
  .video-backTo-text {
    display: none;
  }
  .web-filter-container { 
    display: none;
  }
  .web-filter-container.show {
    display: flex;
    width: 375px;
    padding: 12px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 0 auto 30px auto;
  }
  .web-each-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  select { 
    padding: 8px 16px;
    align-items: flex-start;
  }
  .video-filter-label {
    display: flex;
    color: var(--Text-Grey, #525252);
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
  }
  .web-label {
    font-size: 14px;
    line-height: 18px;
  }
  .video-filter-text{
    font-size: 14px;
    line-height: 18px;
  }
  .web-sort-dropdown,
  .web-year-dropdown {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  /* Video */
  .video-and-pagination {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .video-container {
    max-width: 375px;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-bottom: -10px;
  }
  .video-card {
    display: flex;
    max-width: 100%;
    margin-bottom: 40px;
    gap: 10px;
  }
  .watch-now-btn {
    font-size: 14px;
    padding: 7px 7px 7px 13px;
  }

  /* Pagination */
  .pagination {
    gap: 8px;
  }
  .page {
    font-size: 14px;
    line-height: 18px; 
    padding-left: 6px;
    padding-right: 6px;
  }
  .page-active {
    width: 30px;
    height: 30px;
    padding: 6px;
    gap: 6px;
  }
}

/* For Mobile */
@media (max-width: 430px) {
  .video-filter-icon-and-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .video-filter-icon {
    display: flex;
  }
  .video-close-filter-btn {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
  }
  .video-page-title-and-icon {
    display: flex;
    flex: row;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    gap: 80px;
    margin-bottom: 10px;
  }
  .web-pageTitle {
    font-size: 18px;
    line-height: 20px;
    margin-top: 25px;
  }
  .video-backTo-text {
    display: none;
  }
  .web-filter-container { 
    display: none;
  }
  .web-filter-container.show {
    display: flex;
    width: 375px;
    padding: 12px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 0 auto 30px auto;
  }
  .web-each-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  select { 
    padding: 8px 16px;
    align-items: flex-start;
  }
  .video-filter-label {
    display: flex;
    color: var(--Text-Grey, #525252);
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
  }
  .web-label {
    font-size: 14px;
    line-height: 18px;
  }
  .video-filter-text{
    font-size: 14px;
    line-height: 18px;
  }
  .web-sort-dropdown,
  .web-year-dropdown {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  /* Video */
  .video-and-pagination {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .video-container {
    max-width: 375px;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-bottom: -10px;
  }
  .video-card {
    display: flex;
    max-width: 100%;
    margin-bottom: 40px;
    gap: 10px;
  }
  .watch-now-btn {
    font-size: 14px;
    padding: 7px 7px 7px 13px;
  }

  /* Pagination */
  .pagination {
    gap: 8px;
  }
  .page {
    font-size: 14px;
    line-height: 18px; 
    padding-left: 6px;
    padding-right: 6px;
  }
  .page-active {
    width: 30px;
    height: 30px;
    padding: 6px;
    gap: 6px;
  }
}

/* For Mobile */
@media (max-width: 390px) {
  .video-filter-icon-and-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .video-filter-icon {
    display: flex;
  }
  .video-close-filter-btn {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
  }
  .video-page-title-and-icon {
    display: flex;
    flex: row;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    gap: 60px;
    margin-bottom: 10px;
  }
  .web-filter-container.show {
    display: flex;
    width: 325px;
    padding: 12px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 0 auto 30px auto;
  }
  
  /* Video */
  .video-and-pagination {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .video-container {
    max-width: 325px;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-bottom: -10px;
  }
  .video-card {
    display: flex;
    max-width: 100%;
    margin-bottom: 40px;
    gap: 10px;
  }
  .watch-now-btn {
    font-size: 14px;
    padding: 5px 7px 5px 13px;
  }
}

/* For Mobile */
@media (max-width: 320px) {
  .video-page-title-and-icon {
    display: flex;
    flex: row;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    gap: 40px;
    margin-bottom: 10px;
  }
  .web-filter-container.show {
    display: flex;
    width: 275px;
    padding: 12px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-left: 13px;
  }
  
  /* Video */
  .video-and-pagination {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .video-container {
    max-width: 275px;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-bottom: -30px;
  }
  .video-card {
    display: flex;
    max-width: 100%;
  }
  .watch-now-btn {
    font-size: 14px;
    padding: 5px 7px 5px 13px;
    margin-top: 10px;
  }
}