.web-backTo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  cursor: pointer;
  gap: 10px;
}
.web-pageTitle {
  align-self: stretch;
  color: var(--Blue-700, #0E426C);
  font-size: 20px;
  font-weight: 400;
}
.web-filter-container {
  display: flex;
  width: 100%;
  padding: 28px;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Neutral-White, #FFF);
  border: 1px solid var(--Neutral-Grey-500, #DADADA);
  margin-top: 24px;
  margin-bottom: 24px;
}
.web-each-filter {
  display: flex;
  flex-direction: column;
}
.web-filter-text{
  color: var(--Text-primary, #333);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.web-sort-dropdown,
.web-year-dropdown {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.video-filter-icon {
  display: none;
  width: 20px;
  height: 20px;

}
.video-label-and-x {
  display: none;
}
.close-filter-btn {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* Video Part */
.video-and-pagination {
  width: 100%;
  max-width: 100%;
  margin-bottom: 60px;
}
.video-container {
  display: grid;
  width: 103.5%;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-bottom: -40px;
}
.video-card {
  display: flex;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 453px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 60px;
}
.video-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  flex-shrink: 0;
  aspect-ratio: 16/9;
  border-radius: 8px; 
}
.video-info {
  gap: 16px;
}
.video-title {
  color: var(--Text-primary, #333);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
 }
.video-date {
  color: var(--Text-Grey, #525252);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
 }
.video-text {
  height: 72px;
  overflow: hidden;
  color: var(--Text-primary, #333);
  text-overflow: ellipsis;
  white-space: wrap;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.watch-now-btn {
  display: flex;
  padding: 12px 14px 12px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 2px solid var(--Blue-600, #065D9E);
  background: var(--Neutral-White, #FFF);
  color: var(--Blue-600, #065D9E);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 40px;
}

@media (max-width: 1280px) {
  .web-filter-container {
    width: 104%;
  }
  .video-container {
    width: 109%;
    grid-template-columns: repeat(3, minmax(300px, 1fr));  
    justify-content: center;
  }
  .video-card {
    display: flex;
    max-width: 90%;
    max-height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 60px;
  }
  .video-image {
    max-width: 350px;
    max-height: 200px;
  }
}

@media (max-width: 1024px) {
  .web-filter-container {
    width: 124%;
  }
  .video-and-pagination {
    width: 130%;
    max-width: 130%;
  }
  .video-container {
    width: 100%;
    grid-template-columns: repeat(3, minmax(300px, 1fr));  
    justify-content: center;
  }
  .video-card {
    max-width: 88%;
    max-height: 100%;
  }
}

@media (max-width: 768px) {
  .web-filter-container {
    width: 100%;
  }
  .video-and-pagination {
    width: 100%;
    max-width: 100%;
  }
  .video-container {
    width: 105%;
    grid-template-columns: repeat(2, minmax(300px, 1fr));  
    justify-content: center;
  }
  .video-card {
    display: flex;
    max-width: 90%;
    max-height: 100%;
    margin-bottom: 50px;
  }
}

/* For Mobile */
@media (min-width: 320px) and (max-width: 425px) {
  /*filter part*/
  .video-label-and-x {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .video-filter-icon {
    display: flex;
  }
  .video-close-filter-btn {
    display: flex;
  }
  .video-page-title-and-icon {
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
  }
  .web-pageTitle {
    font-size: 18px;
    line-height: 20px;
    margin-top: 25px;
  }
  .video-backTo-text {
    display: none;
  }
  .web-filter-container { 
    display: none;
  }
  .web-filter-container.show {
    display: flex;
    width: 100%;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .web-each-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  select { 
    padding: 8px 16px;
    align-items: flex-start;
  }
  .video-filter-label {
    color: var(--Text-Grey, #525252);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
  .web-label {
    font-size: 14px;
    line-height: 18px;
  }
  .video-filter-text{
    font-size: 14px;
    line-height: 18px;
  }
  .web-sort-dropdown,
  .web-year-dropdown {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  /* Video */
  .video-container {
    width: 125%;
    grid-template-columns: repeat(1, minmax(320px, 1fr));  
    justify-content: center;
  }
  .video-card {
    display: flex;
    max-width: 80%;
    margin-bottom: 30px;
    gap: 5px;
  }
  .watch-now-btn {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding: 2px 5px 2px 13px;
  }

  /* Pagination */
  .pagination {
    gap: 8px;
  }
  .page {
    font-size: 14px;
    line-height: 18px; 
    padding-left: 6px;
    padding-right: 6px;
  }
  .page-active {
    width: 30px;
    height: 30px;
    padding: 6px;
    gap: 6px;
  }
}