.web-top-part {
  font-family: "Noto Sans";
  display: flex;
  flex-direction: row;
  padding: 30px 60px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 60px;
}
.web-banner {
  position: relative;
  justify-content: center;
  align-items: center;
}
.web-cloud {
  width: 100%; 
  max-width: 563px;
  height: auto; 
}
.web-title {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
  color: var(--Blue-500, #37ACF4);
  text-align: center;
  font-family: "Baloo 2";
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 12px;
}
.web-text {
  position: absolute;
  top: 57%;
  left: 18%;
  width: 100%;
  max-width: 373px;
  color: var(--Blue-500, #37ACF4);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.web-right-text-container {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.web-page-title {
  color: var(--Blue-700, #0E426C);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; 
}


.webinar-series {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 120px;
}
.section-label {
  display: block;
  color: var(--Blue-700, #0E426C);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  align-items: flex-start;
}
.series-container {
  display: flex;
  padding: 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: -3px -4px 14px 0px rgba(99, 99, 99, 0.09), 3px 4px 14px 1px rgba(99, 99, 99, 0.09);
  margin-top: -20px;
}
.new-webinar {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 675px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
}

/* Left Part */
.description {
  display: flex;
  flex-direction: row;
  font-family: Inter;
  justify-content: space-between;
  gap: 32px;
}
.icon-and-title {
  display: flex;
  flex-direction: row;
}
.title-icons {
  margin-right: 8px;
}
.webinar-title {
  color: var(--Text-primary, #333);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; 
}
.left-info {
  margin-right: 32px;
}
.meeting-info {
  color: var(--Text-primary, #333);
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
}
.web-join-btn {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: var(--Orange-500, #FF9700);
  border: none;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; 
  margin-top: 18px;
}
.web-join-btn a {
  color: var(--Text-white, #FFF);
  text-decoration: none;
  cursor: pointer;
}

/* Right Part */
.right-info {
  display: flex;
  flex-direction: column;
}
.content-row {
  display: flex; 
  flex-direction: row;
  width: 100%;
  gap: 32px;
}
.content-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cnt-title {
  color: var(--Text-primary, #333);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 18px;
}
.item1, 
.item2, 
.item3 {
  flex-direction: column;
  color: var(--Text-primary, #333);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
}

/* Past Webinars */
.past-webinar {
  font-family: "Noto Sans";
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.past-webinar-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  flex-direction: row;
  margin-bottom: -20px;
}
.web-view-more a{
  color: var(--Text-Grey, #525252);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
}
.webinar-container {
  display: grid;
  width: 1345px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.webinar-card {
  display: flex;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 453px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 60px;
}
.webinar-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 8px; 
}
.webinar-title {
  color: var(--Text-primary, #333);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
 }
.webinar-date {
  color: var(--Text-Grey, #525252);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
 }
.webinar-text {
  height: 72px;
  overflow: hidden;
  color: var(--Text-primary, #333);
  text-overflow: ellipsis;
  white-space: wrap;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.web-watch-now-btn {
  display: flex;
  padding: 12px 14px 12px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 2px solid var(--Blue-600, #065D9E);
  background: var(--Neutral-White, #FFF);
  color: var(--Blue-600, #065D9E);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}


@media (max-width: 1280px) {
  .webinar-series {
    display: flex;
    width: 104%;
    flex-direction: column;
    margin-bottom: 120px;
  }
  .new-webinar {
    display: flex;
    width: 100%;
    height: auto;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
  }
  .past-webinar {
    width: 104%;
    gap: 15px; 
  }
  .past-webinar-title {
    margin-bottom: -40px;
  }
  .webinar-container {
    width: 105%;
    grid-template-columns: repeat(3, minmax(250px, 1fr));  
    justify-content: center;
  }
  .webinar-card {
    display: flex;
    max-width: 88%;
    max-height: 90%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 60px;
  }
  .webinar-image {
    max-width: 350px;
    max-height: 200px;
  }
}


@media (max-width: 1024px) {
  .web-top-part {
    width: 1150px;
    padding: 20px 60px;
    align-items: center;
  }
  .webinar-series {
    width: 124%;
  }
  .past-webinar {
    width: 124%;
    gap: 15px; 
  } 
  .video-container {
    width: 130%;
    grid-template-columns: repeat(3, minmax(300px, 1fr));  
    justify-content: center;
  }
}

/* For iPad */
@media (max-width: 768px) {
  /* Top Section */
  .web-top-part {
    width: 755px;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    align-items: center;
    margin-left: -20px;
  }
  .web-right-text-container {
    padding: 0px;
    margin-top: -40px;
    margin-bottom: 60px;
  }
  .series-container {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  .webinar-series {
    width: 100%;
  }
  .description {
    display: flex;
    flex-direction: column;
    font-family: Inter;
    justify-content: space-between;
  }
  .content-row {
    display: flex; 
    flex-direction: row;
    width: 100%;
  }
  .web-view-more a{
    margin-right: 170px;
  }
  .webinar-container {
    width: 85%;
    grid-template-columns: repeat(2, minmax(300px, 1fr));  
    justify-content: center;
  }
  .webinar-card {
    display: flex;
    max-width: 90%;
    max-height: 100%;
    margin-bottom: 50px;
  }
}

/* For Mobile L */
@media (min-width: 320px) and (max-width: 425px) {
  .web-top-part {
    width: 400px;
    padding: 15px 0px;
    align-items: center;
    justify-content: center;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .web-cloud {
    max-width: 360px;
    height: auto; 
  }
  .web-title {
    top: 44%;
    left: 50%;
    font-size: 24px;
  }
  .web-text {
    position: absolute;
    top: 53%;
    left: 10%;
    width: 100%;
    max-width: 300px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
  }
  .web-page-title {
    font-size: 20px; 
    line-height: 24px;
  }
  
  .series-container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .content-row {
    display: flex; 
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
  .webinar-title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .meeting-info {
    font-size: 16px;
    line-height: 28px; 
  }
  .web-join-btn {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    padding: 2px 12px;
  }
  .web-watch-now-btn {
    font-size: 14px;
    padding: 5px 7px 5px 13px;
  }
  .cnt-title {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .item1, 
  .item2, 
  .item3 {
    font-size: 16px;
  }


  .webinar-series {
    width: 100%;
    margin-bottom: 60px;
  }
  .webinar-container {
    width: 100%;
    grid-template-columns: repeat(1, minmax(300px, 1fr));  
    justify-content: center;
  }
  .web-view-more a{
    font-size: 14px;
    margin-right: 90px;
  }
  .webinar-card {
    display: flex;
    max-width: 80%;
    max-height: 70%;
    margin-bottom: 30px;
    gap: 5px;
  }
}
