.webinar-series {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 120px;
}
.section-label {
  color: var(--Blue-700, #0E426C);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  align-items: flex-start;
}
.series-container {
  display: flex;
  padding: 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: -3px -4px 14px 0px rgba(99, 99, 99, 0.09), 3px 4px 14px 1px rgba(99, 99, 99, 0.09);
}
.new-webinar {
  display: flex;
  width: 1200px;
  height: 675px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
}

/* Left Part */
.description {
  display: flex;
  flex-direction: row;
  font-family: Inter;
  justify-content: space-between;
  gap: 32px;
}
.webinar-title {
  color: var(--Text-primary, #333);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; 
}
.left-info {
  margin-right: 32px;
}
.meeting-info {
  color: var(--Text-primary, #333);
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
}
.web-join-btn {
  display: flex;
  padding: 16px 16px 16px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: var(--Orange-500, #FF9700);
  border: none;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; 
  margin-top: 18px;
}
.web-join-btn a {
  color: var(--Text-white, #FFF);
  text-decoration: none;
  cursor: pointer;
}

/* Right Part */
.right-info {
  display: flex;
  flex-direction: column;
}
.content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 32px;
}
.content-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cnt-title {
  color: var(--Text-primary, #333);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 18px;
}
.item1, 
.item2, 
.item3 {
  flex-direction: column;
  color: var(--Text-primary, #333);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
}

/* Past Webinars */
.past-webinar {
  font-family: "Noto Sans";
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  gap: 24px; 
}
.past-webinar-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.web-view-more a{
  color: var(--Text-Grey, #525252);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
}
.webinar-container {
  display: grid;
  width: 1345px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.webinar-card {
  display: flex;
  width: 400px;
  height: 453px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 60px;
}
.webinar-image {
  width: 400px;
  height: 225px;
  flex-shrink: 0;
  aspect-ratio: 16/9;
  border-radius: 8px; 
}
.webinar-title {
  color: var(--Text-primary, #333);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
 }
.webinar-date {
  color: var(--Text-Grey, #525252);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
 }
.webinar-text {
  height: 72px;
  overflow: hidden;
  color: var(--Text-primary, #333);
  text-overflow: ellipsis;
  white-space: wrap;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.watch-now-btn {
  display: flex;
  padding: 12px 14px 12px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 2px solid var(--Blue-600, #065D9E);
  background: var(--Neutral-White, #FFF);
  color: var(--Blue-600, #065D9E);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}